<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/pretendard/font.css">
    <link rel="stylesheet" href="/css/seller-customer-center/inquiry-enroll.css">
    <link rel="shortcut icon" href="/images/main/favicon.png" type="image/x-icon">
    <title>너도먹고나도먹고</title>
</head>
<body>
    <div class="sub">
        <div>
            <div class="sub-layout-wrapper">
                <div class="sub-container">
                    <div class="customer-section">
                        <div class="customer-sidebar">
                            <div class="sidebar-menu-wrap">
                                <h2 class="customer-title">고객센터</h2>
                                <ul class="sidebar-menu-list">
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu">
                                            <span>공지사항</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu">
                                            <span>자주하는 질문</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu active">
                                            <span>1:1 문의</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="customer-content">
                            <div class="notice-board">
                                <div class="notice-board-title">
                                    <h3 class="notice-title">1:1 문의</h3>
                                </div>
                                <div class="notice-board-form">
                                    <form action="">
                                        <div class="form-group">
                                            <span class="input-label required">유형</span>
                                            <div class="form-content select-wrap">
                                                <div class="dropdown-wrap leftDropdown">
                                                    <button class="dropdown-toggle">
                                                        <span>전체</span>
                                                        <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined css-1636szt" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowDropDownIcon"><path d="M7 10l5 5 5-5z"></path></svg>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>전체</li>
                                                        <li>정산</li>
                                                        <li>상품</li>
                                                        <li>주문/결제/배송</li>
                                                        <li>취소/교환/환불</li>
                                                        <li>서비스/오류/기타</li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown-wrap rightDropdown">
                                                    <button class="dropdown-toggle" disabled>
                                                        <span>상세유형을 선택해주세요</span>
                                                        <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined css-1636szt" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowDropDownIcon"><path d="M7 10l5 5 5-5z"></path></svg>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <!-- 내용들어오는곳 -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="title" class="input-label required">제목</label>
                                            <div class="form-content">
                                                <div class="input-wrap">
                                                    <input id="title" type="text" placeholder="제목을 입력해주세요">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="content" class="input-label required">내용</label>
                                            <div class="form-content">
                                                <div class="textarea-wrap">
                                                    <textarea name="" id="content" placeholder="내용을 입력해주세요"></textarea>
                                                    <span class="text-box-footer">
                                                        <span class="text-enter">0</span>
                                                        <span class="max-enter">/</span>
                                                        <span class="max-enter maxLength">5000</span>
                                                    </span>
                                                </div>
                                                <div class="add-photo-wrap">
                                                    <div class="add-button">
                                                        <div class="new-img">
                                                            <!-- 첨부 이미지 들어오는 곳-->
                                                        </div>
                                                        <div class="add-button-inner">
                                                            <label class="photo-button" for="add-photo-button">
                                                                <span>
                                                                    <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                                                                        <g fill="none" fill-rule="evenodd"><path d="M0 0h30v30H0z"></path>
                                                                            <g transform="translate(4.779 6.111)" stroke="#333" stroke-width="1.3">
                                                                                <path d="M11.792 0c.399 0 .717.056.955.17.179.084.346.199.503.344l.153.155.631.703c.122.13.234.233.337.31a.95.95 0 0 0 .34.16c.125.031.292.047.503.047l2.906-.003c1.284 0 2.324 1.062 2.324 2.37v11.151c0 1.31-1.04 2.37-2.324 2.37H2.324c-1.283 0-2.324-1.06-2.324-2.37V4.257c0-1.31 1.04-2.37 2.324-2.37h2.983c.245-.009.432-.045.559-.108.11-.055.23-.145.36-.27l.134-.137.631-.703c.2-.22.418-.387.657-.5.19-.09.432-.144.725-.162L8.603 0h3.189z"></path>
                                                                                <circle cx="10.142" cy="9.529" r="3.556"></circle>
                                                                            </g>
                                                                        </g>
                                                                    </svg>
                                                                </span>
                                                            </label>
                                                            <input type="file" accept="image/png, image/jpg, image/jpeg" multiple class="input-photo" id="add-photo-button">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="add-photo-list">
                                                    <ul class="list-ul">
                                                        <li class="list-li">30MB 이하의 이미지만 업로드 가능합니다.</li>
                                                        <li class="list-li">상품과 무관한 내용이거나 음란 및 불법적인 내용은 통보없이 삭제 될 수 있습니다.</li>
                                                        <li class="list-li">사진은 최대 8장까지 등록가능합니다.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="btn-wrap">
                                    <button type="button" class="btn-primary popup-trigger" data-target="#popup2">등록</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-wrapper" id="popup2">
        <div class="popup-inner">
            <div class="dim"></div>
            <div class="popup-container">
                <div class="popup-content">
                    <div class="popup-message">
                        <p>제목을 입력해주세요</p>
                    </div>
                    <div class="popup-footer">
                        <button type="button" class="btn-default popup-close">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/seller-customer-center/inquiry-enroll.js"></script>
</html>