<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/pretendard/font.css">
    <link rel="stylesheet" href="/css/buyer-customer-center/notice.css">
    <link rel="shortcut icon" href="/images/main/favicon.png" type="image/x-icon">
    <title>너도먹고나도먹고</title>
</head>
<body>
    <div class="sub">
        <div>
            <div class="sub-layout-wrapper">
                <div class="sub-container">
                    <div class="customer-section">
                        <div class="customer-sidebar">
                            <div class="sidebar-menu-wrap">
                                <h2 class="customer-title">고객센터</h2>
                                <ul class="sidebar-menu-list">
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu active">
                                            <span>공지사항</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu">
                                            <span>자주하는 질문</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu">
                                            <span>1:1 문의</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="customer-content">
                            <div class="notice-board">
                                <div class="notice-board-title">
                                    <h3 class="notice-title">공지사항</h3>
                                    <span class="notice-text">너도나도의 새로운 소식들과 유용한 정보들을 한곳에서 확인하세요.</span>
                                </div>
                                <div class="notice-board-table">
                                    <table class="table-wrap">
                                        <colgroup>
                                            <col style="width: 10%;"/>
                                            <col style="width: 60%;"/>
                                            <col style="width: 15%;"/>
                                            <col style="width: 15%;"/>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="no">번호</th>
                                                <th class="title">제목</th>
                                                <th class="author">작성자</th>
                                                <th class="created-date">작성일</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-item">
                                                <td class="no">공지</td>
                                                <td class="title">
                                                    <a href="">[안내] 8월 은행/카드사 시스템 점검 일정 안내</a>
                                                </td>
                                                <td class="author">너도나도</td>
                                                <td class="date">2025.07.30</td>
                                            </tr>
                                            <tr class="table-item">
                                                <td class="no">공지</td>
                                                <td class="title">
                                                    <a href="">[안내] 8월 은행/카드사 시스템 점검 일정 안내</a>
                                                </td>
                                                <td class="author">너도나도</td>
                                                <td class="date">2025.07.30</td>
                                            </tr>
                                            <tr class="table-item">
                                                <td class="no">공지</td>
                                                <td class="title">
                                                    <a href="">[안내] 8월 은행/카드사 시스템 점검 일정 안내</a>
                                                </td>
                                                <td class="author">너도나도</td>
                                                <td class="date">2025.07.30</td>
                                            </tr>
                                            <tr class="table-item">
                                                <td class="no">공지</td>
                                                <td class="title">
                                                    <a href="">[안내] 8월 은행/카드사 시스템 점검 일정 안내</a>
                                                </td>
                                                <td class="author">너도나도</td>
                                                <td class="date">2025.07.30</td>
                                            </tr>
                                            <tr class="table-item">
                                                <td class="no">공지</td>
                                                <td class="title">
                                                    <a href="">[안내] 8월 은행/카드사 시스템 점검 일정 안내</a>
                                                </td>
                                                <td class="author">너도나도</td>
                                                <td class="date">2025.07.30</td>
                                            </tr>
                                            <tr class="table-item">
                                                <td class="no">공지</td>
                                                <td class="title">
                                                    <a href="">[안내] 8월 은행/카드사 시스템 점검 일정 안내</a>
                                                </td>
                                                <td class="author">너도나도</td>
                                                <td class="date">2025.07.30</td>
                                            </tr>
                                            <!-- 데이터 없을때 -->
                                            <tr class="table-item">
                                                <td class="no-data" colspan="4">게시글이 없습니다.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pagenation">
                                        <button type="button" class="prev" disabled></button>
                                        <button type="button" class="next"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/buyer-customer-center/notice.js"></script>
</html>