<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너도 먹고 나도 먹고</title>
    <link rel="stylesheet" href="../../static/css/main/footer.css">
    <link rel="stylesheet" href="../../static/fonts/pretendard/font.css">
</head>
<body>
    <div class="css-17cdx60 footer-big">
        <div id="footer" class="css-1i60c0e footer-top">
            <div class="css-j6zuv6 footer-top-top">
                <div class="footer-constructor">
                    <p class="css-4iyald team-name">너도 먹고 나도 먹고</p>
                    <p class="css-9jqcug team-name-members">팀원: 
                        <span class="css-1uz1ro8 team-name-member">김다애 임채민 조영인</span>
                    </p>
                </div>
                <div class="css-1fttcpj informations">
                    <div class="css-ho1qnd information">
                        <button class="css-hupzfj information-button">1:1 문의</button>
                        <div class="css-1lxmeik information-text">
                            365일
                            <br>
                            고객센터 운영시간에 순차적으로 답변드리겠습니다.
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© YEIE CORP. ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </div>
</body>
</html>