<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너도 먹고 나도 먹고</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/main/header.css">
    <link rel="stylesheet" href="../../static/fonts/pretendard/font.css">
    
</head>
<body>
    <div id="__next">
        <div>
            <div class="header">
                <div class="login-nav">
                    <a href="" class="joinus">회원가입</a>
                    <div class="bar"></div>
                    <a href="" class="login">로그인</a>
                    <div class="bar"></div>
                    <div class="customer-service">
                        <a href="" class="customer-service-url">고객센터
                            <span class="customer-service-icon"></span>
                        </a>
                        <div class="menu customer-service-list">
                            <div class="list-menu">공지사항</div>
                            <div class="list-menu">자주하는 질문</div>
                            <div class="list-menu">1:1 문의</div>
                        </div>
                    </div>
                </div>
                <div class="header-top">
                    <div class="logo"> 
                        <img src="" class="logo-img">
                        <button class="active main-button">너도 먹고</button>
                        <button class="main-button">나도 먹고</button>
                    </div>
                    <div class="search-big">
                        <div class="css-vdi47h search">
                            <input placeholder="검색어를 입력해주세요" autocomplete="off" class="search-input">
                            <button id="submit" class="search-button"></button>
                        </div>
                    </div>
                    <div class="header-icon">
                        <div class="alarm-icon"></div>
                        <button class="good-icon"></button>
                        <div class="cart-icon">
                            <button class="cart-icon-button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header" class="header-nav-big">
                <div class="header-nav">
                    <div class="category">
                        <span class="category-img"></span>
                        <span class="category-text">카테고리</span>
                    </div>
                    <ul class="nav-ul">
                        <li class="nav-li">
                            <span class="nav-li-text">신상품</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">베스트</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">알뜰쇼핑</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">특가/혜택</span>
                        </li>
                    </ul>
                    <div class="announce-button">
                        <a href="">
                            <div class="announce-button-in">
                                <span class="announce-button-text">일단 만들어놓은 버튼~</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden"></div>
        </div>
    </div>
</body>
</html>