<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너도 먹고 나도 먹고</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/main/header.css">
    
</head>
<body>
    <div id="__next">
        <div>
            <div class="css-1rz55qv header">
                <div class="css-r7d2ww login-nav">
                    <a href="" class="css-xygizb joinus">회원가입</a>
                    <div class="css-1qgm48u bar"></div>
                    <a href="" class="css-oyffzd login">로그인</a>
                    <div class="css-1qgm48u bar"></div>
                    <div class="css-1qolcqm customer-service">
                        <a href="" class="css-oyffzd customer-service-url">고객센터
                            <span class="css-1lrerrk customer-service-icon"></span>
                        </a>
                        <div class="menu css-1yheqto customer-service-list">
                            <div class="css-12olpw6 list-menu">공지사항</div>
                            <div class="css-12olpw6 list-menu">자주하는 질문</div>
                            <div class="css-12olpw6 list-menu">1:1 문의</div>
                        </div>
                    </div>
                </div>
                <div class="css-hj3ig8 header-top">
                    <div class="css-boc80u logo"> 
                        <img src="" class="css-17mnrrx logo-img">
                        <button class="active css-mxd3pm main-button">너도 먹고</button>
                        <button class="css-mxd3pm main-button">나도 먹고</button>
                    </div>
                    <div class="css-7afvb3 search-big">
                        <div class="css-vdi47h search">
                            <input placeholder="검색어를 입력해주세요" autocomplete="off" class="css-11ntk83 search-input">
                            <button id="submit" class="css-ywxmlw search-button"></button>
                        </div>
                    </div>
                    <div class="css-il0ckv header-icon">
                        <div class="css-14vnom0 alarm"></div>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</body>
</html>