<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너도먹고나도먹고</title>
    <link rel="stylesheet" href="../../static/css/main/login.css">
    <link rel="stylesheet" href="../../static/fonts/pretendard/font.css">
    <link rel="shortcut icon" href="../../static/images/main/favicon.png" type="image/x-icon">
</head>
<body>
    <div id="__next">
        <div>
            <div class="header">
                <div class="login-nav">
                    <a href="" class="joinus">회원가입</a>
                    <div class="bar"></div>
                    <a href="" class="login">로그인</a>
                    <div class="bar"></div>
                    <div class="customer-service">
                        <a href="" class="customer-service-url">고객센터
                            <span class="customer-service-icon"></span>
                        </a>
                        <div class="menu customer-service-list">
                            <div class="list-menu">공지사항</div>
                            <div class="list-menu">자주하는 질문</div>
                            <div class="list-menu">1:1 문의</div>
                        </div>
                    </div>
                </div>
                <div class="header-top">
                    <div class="logo"> 
                        <img src="../../static/images/main/logo.png" class="logo-img">
                        <button class="active main-button">너도 먹고</button>
                        <button class="main-button">나도 먹고</button>
                    </div>
                    <div class="search-big">
                        <div class="css-vdi47h search">
                            <input placeholder="검색어를 입력해주세요" autocomplete="off" class="search-input">
                            <button id="submit" class="search-button popup-trigger" data-target="#popup2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                    <g fill="none" fill-rule="evenodd">
                                        <path fill="none" d="M0 0h36v36H0z"/>
                                        <g stroke="rgb(50, 116, 63)" stroke-linecap="round" stroke-width="1.7">
                                            <path d="m26.081 26.081-4.12-4.12M16.467 23.334a6.867 6.867 0 1 0 0-13.734 6.867 6.867 0 0 0 0 13.734z"/>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="header-icon">
                        <div class="icon-container">
                            <div class="alarm-icon"></div>
                            <div id="root" class="alarm-icon-wrap">
                                <div class="alarm-icon-in">
                                    <header class="alarm-icon-header">
                                        <div class="alarm-icon-inner">
                                            <h1 class="blind"></h1>
                                            <div class="title_area">
                                                <a href="" class="link_title">
                                                    <h2 class="title">알림</h2>
                                                </a>
                                            </div>
                                            <div ></div>
                                        </div>
                                    </header>
                                    <main class="alarm-icon-content">
                                        <div class="notice_content">
                                            <div class="section_notice_preview" style="min-height: 95vh;">
                                                <div class="comp_card comp_notice">
                                                    <a href="" class="link_notice">
                                                        <div class="group_source">
                                                            <div class="source_box">
                                                                <div class="thumb">
                                                                    <img width="26" height="26" src="../../static/images/main/logo.png">
                                                                </div>
                                                                <span class="span-title">너도먹고나도먹고</span>
                                                            </div>
                                                            <div class="info_box">
                                                                <span class="info-text">7월 25일</span>
                                                            </div>
                                                        </div>
                                                        <div class="group_info">
                                                            <strong class="info-title">배송 알림!</strong>
                                                            <div class="info_area">
                                                                <div class="info_box">
                                                                    <p class="desc"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="comp_card comp_notice">
                                                    <a href="" class="link_notice">
                                                        <div class="group_source">
                                                            <div class="source_box">
                                                                <div class="thumb">
                                                                    <img width="26" height="26" src="">
                                                                </div>
                                                                <span class="span-title">너도먹고나도먹고</span>
                                                            </div>
                                                            <div class="info_box">
                                                                <span class="info-text">7월 25일</span>
                                                            </div>
                                                        </div>
                                                        <div class="group_info">
                                                            <strong class="info-title">배송 알림!</strong>
                                                            <div class="info_area">
                                                                <div class="info_box">
                                                                    <p class="desc"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="comp_card comp_notice">
                                                    <a href="" class="link_notice">
                                                        <div class="group_source">
                                                            <div class="source_box">
                                                                <div class="thumb">
                                                                    <img width="26" height="26" src="">
                                                                </div>
                                                                <span class="span-title">너도먹고나도먹고</span>
                                                            </div>
                                                            <div class="info_box">
                                                                <span class="info-text">7월 25일</span>
                                                            </div>
                                                        </div>
                                                        <div class="group_info">
                                                            <strong class="info-title">배송 알림!</strong>
                                                            <div class="info_area">
                                                                <div class="info_box">
                                                                    <p class="desc"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="comp_card comp_notice">
                                                    <a href="" class="link_notice">
                                                        <div class="group_source">
                                                            <div class="source_box">
                                                                <div class="thumb">
                                                                    <img width="26" height="26" src="">
                                                                </div>
                                                                <span class="span-title">너도먹고나도먹고</span>
                                                            </div>
                                                            <div class="info_box">
                                                                <span class="info-text">7월 25일</span>
                                                            </div>
                                                        </div>
                                                        <div class="group_info">
                                                            <strong class="info-title">배송 알림!</strong>
                                                            <div class="info_area">
                                                                <div class="info_box">
                                                                    <p class="desc"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </main>
                                </div>
                            </div>
                        </div>
                        <button class="good-icon"></button>
                        <div class="cart-icon">
                            <button class="cart-icon-button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header" class="header-nav-big">
                <div class="header-nav">
                    <div class="category">
                        <span class="category-img"></span>
                        <span class="category-text">카테고리</span>
                        <div class="category-list">
                            <div class="category-list-inner">
                                <ul class="category-ul">
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/1/4IYbd0CEWkokpqiN00CAL9cDC2Q7nT101TDEn0tF.png" class="category-li-img">
                                            <span class="category-li-text">채소</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/2/DNXCcUaXoXakDOdHiGhIMCNUeUjJioG9EyeQ7RRX.png" class="category-li-img">
                                            <span class="category-li-text">과일·견과·쌀</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/3/fivaoZPBTeqaDswJUgr3k0xMV0von36Qb9qnn7ZZ.png" class="category-li-img">
                                            <span class="category-li-text">수산·해산·건어물</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/4/jj6zZg2sY94aytlc2k1udIAmWWvmUignR9VYaMcm.png" class="category-li-img">
                                            <span class="category-li-text">정육·가공육·달걀</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/230/y5jylUkFHNhzAJQ8IqLijPx9RSd474nOZf5dKa6e.png" class="category-li-img">
                                            <span class="category-li-text">기타</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav-ul">
                        <li class="nav-li">
                            <span class="nav-li-text">신상품</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">베스트</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">알뜰쇼핑</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">특가/혜택</span>
                        </li>
                    </ul>
                    <div class="announce-button">
                        <a href="">
                            <div class="announce-button-in">
                                <span class="announce-button-text">나도 먹고</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="login-wrap">
                <div class="login-text">로그인</div>
                <div class="login-body">
                    <div>
                        <div>
                          <div class="id-password-wrap">
                            <div class="id-password">
                                <input type="text"  name="id" placeholder="아이디를 입력해주세요" class="login-id">
                            </div>
                          </div>
                          <div class="id-password-wrap">
                            <div class="id-password">
                                <input type="password" name="password" placeholder="비밀번호를 입력해주세요" class="login-password">
                            </div>
                          </div>  
                        </div>
                        <div class="search-id-password">
                            <a href="" class="search-id">아이디 찾기</a>
                            <span class="login-bar"></span>
                            <a href="" class="search-password">비밀번호 찾기</a>
                        </div>
                        <div class="button-wrap">
                            <button class="enter-login popup-trigger" type="submit" height="54" radius="6" data-target="#popup2">
                                <span class="enter-login-text">로그인</span>
                            </button>
                            <button class="joinus-button" type="button" height="54" radius="6">
                                <span class="enter-login-text">회원가입</span>
                            </button>
                        </div>
                        <div class="login-footer">
                            <p class="easy-login">간편 로그인</p>
                            <button type="button" class="joinus-kakao">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="black">
                                    <path d="M12 2C6.5 2 2 5.9 2 10.5c0 2.5 1.6 4.7 4.1 6.2L5 22l4.3-2.3c.8.1 1.6.2 2.7.2 5.5 0 10-3.9 10-8.5S17.5 2 12 2z"/>
                                </svg>

                                <p class="joinus-kakao-p">카카오로 계속하기</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
     <div class="css-17cdx60 footer-big">
        <div id="footer" class="css-1i60c0e footer-top">
            <div class="css-j6zuv6 footer-top-top">
                <div class="footer-constructor">
                    <p class="css-4iyald team-name">너도 먹고 나도 먹고</p>
                    <p class="css-9jqcug team-name-members">팀원: 
                        <span class="css-1uz1ro8 team-name-member">김다애 임채민 조영인</span>
                    </p>
                </div>
                <div class="css-1fttcpj informations">
                    <div class="css-ho1qnd information">
                        <button class="css-hupzfj information-button">1:1 문의</button>
                        <div class="css-1lxmeik information-text">
                            365일
                            <br>
                            고객센터 운영시간에 순차적으로 답변드리겠습니다.
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© YEIE CORP. ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </div>

    <!-- 로그인 실패  팝업 -->
     <div class="popup-wrapper" id="popup2">
        <div class="popup-inner">
            <div class="dim"></div>
            <div class="popup-container">
                <div class="popup-content">
                    <div class="popup-message">
                        <p>로그인에 실패하였습니다. <br>
                            고객센터로 문의 주시기 바랍니다. <br><br>

                            이용에 불편을 드려 죄송합니다.</p>
                    </div>
                    <div class="popup-footer">
                        <button type="button" class="btn-default popup-close">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/main/login.js"></script>
</html>