<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너도먹고나도먹고</title>
    <link rel="shortcut icon" href="../../static/images/main/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/main/signup.css">
    <link rel="stylesheet" href="../../static/fonts/pretendard/font.css">    
</head>
<body>
    <div id="__next">
        <div>
            <div class="signuppage">
                <div class="signuptext">회원가입</div>
                <div class="signupinput">
                    <div class="inputheader">
                        <span class="star">*</span>
                         필수입력사항
                    </div>
                    <div class="inputmain">
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">
                                    이메일
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="emailinputcontainer">
                                <div class="emailinput">
                                    <div class="emaillist">
                                        <input placeholder="예: marketkurly" type="text" class="emailinputtext">
                                        <div class="emailat">@</div>
                                        <div class="emailchoose">
                                            <button class="btn-text empty">선택하기</button>
                                            <button class="btn-select">
                                                <img class="more-mail" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9ImljX2Fycm93X2Rvd25fNDgiPgo8cGF0aCBpZD0iU2hhcGUiIGQ9Ik0yNC4wNzc2IDI2LjczMDFMMjcuODI3NiAyMi4yMzAxQzI4LjIzNDcgMjEuNzQxNiAyNy44ODczIDIxIDI3LjI1MTQgMjFIMTkuNzUxNEMxOS4xMTU2IDIxIDE4Ljc2ODIgMjEuNzQxNiAxOS4xNzUzIDIyLjIzMDFMMjIuOTI1MyAyNi43MzAxQzIzLjIyNTEgMjcuMDkgMjMuNzc3OCAyNy4wOSAyNC4wNzc2IDI2LjczMDFaIiBmaWxsPSIjMzMzMzMzIi8+CjwvZz4KPC9zdmc+Cg==">
                                            </button>
                                            <div class="e-mail-form">
                                                <button type="button" class="dropdown__item">naver.com</button>
                                                <button type="button" class="dropdown__item">gmail.com</button>
                                                <button type="button" class="dropdown__item">hanmail.net</button>
                                                <button type="button" class="dropdown__item">kakao.com</button>
                                                <button type="button" class="dropdown__item">daum.net</button>
                                                <button type="button" class="dropdown__item">hotmail.com</button>
                                                <button type="button" class="dropdown__item">yahoo.co.kr</button>
                                                <button type="button" class="dropdown__item">직접 입력</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="error mail-error">
                                    <!-- <p class="error-message">이메일을 입력해주세요.</p> -->
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">
                                    비밀번호
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="idinputcontainer">
                                <div class="idinput">
                                    <div class="idinputlan">
                                        <input placeholder="비밀번호를 입력해주세요" type="password" class="idinputbox">
                                    </div>
                                </div>
                                <div class="error password-error">
                                    <!-- <p class="error-message">영문/숫자/특수문자(공백 제외)만 허용하며, 2개 이상 조합</p> -->
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">
                                    비밀번호확인
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="idinputcontainer">
                                <div class="idinput">
                                    <div class="idinputlan">
                                        <input placeholder="비밀번호를 한 번 더 입력해주세요" type="password" class="idinputbox">
                                    </div>
                                </div>
                                <div class="error">
                                    <!-- <p class="error-message">동일한 비밀번호를 입력</p> -->
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">
                                    이름
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="idinputcontainer">
                                <div class="idinput">
                                    <div class="idinputlan">
                                        <input placeholder="이름를 입력해주세요" type="text" class="idinputbox">
                                    </div>
                                </div>
                                <div class="error name-error">
                                    <!-- <p class="error-message">이름을 입력해 주세요.</p> -->
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtext">
                                    휴대폰
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="emailinputcontainer">
                                <div class="idinputlan">
                                    <div class="phoneinput">
                                        <input type="tel" placeholder="숫자만 입력해주세요." class="idinputbox phone-input">
                                    </div>
                                </div>
                                <div class="error phone-error">
                                    <!-- <p class="error-message">휴대폰 번호를 입력해 주세요.</p> -->
                                </div>
                            </div>
                            <div class="idspace">
                                <button type="button" class="phonebutton" disabled>
                                    <span class="phonenumber">인증번호 받기</span>
                                </button>
                            </div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">
                                    주소
                                    <span class="addressstar">*</span>
                                </label>
                            </div>
                            <div class="emailinputcontainer">
                                <button class="addresssearch">
                                    <span class="addressinfo">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20"><script xmlns=""/>
                                            <g fill="none" fill-rule="evenodd">
                                                <path fill="#FFF" fill-opacity="0" fill-rule="nonzero" d="M0 0H20V20H0z" transform="translate(.4)"/>
                                                <path fill="rgb(50, 116, 63)" d="M9.333 4.667C11.911 4.667 14 6.756 14 9.333c0 1.051-.347 2.02-.933 2.8.024.018.048.04.071.062l2 2c.26.26.26.683 0 .943-.26.26-.682.26-.943 0l-2-2-.061-.071c-.78.586-1.75.933-2.8.933-2.578 0-4.667-2.09-4.667-4.667s2.089-4.666 4.666-4.666zm0 1.333C7.493 6 6 7.492 6 9.333c0 1.841 1.492 3.334 3.333 3.334 1.841 0 3.334-1.493 3.334-3.334C12.667 7.493 11.174 6 9.333 6z" transform="translate(.4)"/>
                                            </g>
                                        </svg>
                                        주소 검색
                                    </span>
                                </button>
                                <span class="deliveryinfo">배송지에 따라 상품 정보가 달라질 수 있습니다.</span>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">성별</label>
                            </div>
                            <div class="emailinputcontainer">
                                <div class="gendercontainer">
                                    <label class="genderchoose">
                                        <input type="radio" class="genderbutton" name="gender" value="MALE">
                                        <span class="gender-sapn">
                                            <div class="gender-div"></div>
                                        </span>
                                        <span class="gendertext">남자</span>
                                    </label>
                                    <label class="genderchoose">
                                        <input type="radio" class="genderbutton" name="gender" value="FEMALE">
                                        <span class="gender-sapn">
                                            <div class="gender-div"></div>
                                        </span>
                                        <span class="gendertext">여자</span>
                                    </label>
                                    <label class="genderchoose">
                                        <input type="radio" class="genderbutton" name="gender" value="NONE" checked>
                                        <span class="gender-sapn span-active">
                                            <div class="gender-div div-active"></div>
                                        </span>
                                        <span class="gendernonetext">선택안함</span>
                                    </label>
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">생년월일</label>
                            </div>
                            <div class="emailinputcontainer">
                                <div class="birthcontainer">
                                    <div class="birthlan">
                                        <div class="birthinputcontainer">
                                            <input type="text" placeholder="YYYY" class="birthinput">
                                        </div>
                                    </div>
                                    <span class="birthline">
                                    </span>
                                    <div class="birthlan">
                                        <div class="birthinputcontainer">
                                            <input type="text" placeholder="MM" class="birthinput">
                                        </div>
                                    </div>
                                    <span class="birthline"></span>
                                    <div class="birthlan">
                                        <div class="birthinputcontainer">
                                            <input type="text" placeholder="DD" class="birthinput">
                                        </div>
                                    </div>
                                </div>
                                <div class="error brith-error">
                                    <!-- <p class="error-message">생년월일이 미래로 입력 되었습니다.</p> -->
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                    </div>
                    <div class="inputspace"></div>
                    <div class="inputdongui">
                        <div class="donguicontainer">
                            <div class="idtext">
                                <label class="idtextstar">
                                    이용약관동의
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="emailinputcontainer">
                                <div class="donguilist">
                                    <label class="donguibutton all-donguilabel">
                                        <input type="checkbox" class="checkbox all">
                                        <div class="donguibox all-box">
                                            <svg width="24" height="24" veiwBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </div>
                                        <span>전체 동의합니다.</span>
                                    </label>
                                    <p class="littletext">선택항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를 이용할 수 있습니다.</p>
                                </div>
                                <div class="donguilist">
                                    <div class="donguiwrap">
                                        <label class="donguilabel all-donguilabel">
                                            <input type="checkbox" class="checkbox term">
                                            <div class="donguibox box1">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path><path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <span>이용약관 동의</span>
                                        </label>
                                        <span class="donguipilsoo">
                                            (필수)
                                        </span>
                                    </div>
                                </div>
                                <div class="donguilist">
                                    <div class="donguiwrap">
                                        <label class="donguilabel all-donguilabel">
                                            <input type="checkbox" class="checkbox term">
                                            <div class="donguibox box1">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path><path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <span>개인정보 수집∙이용 동의</span>
                                        </label>
                                        <span class="donguipilsoo">
                                            (필수)
                                        </span>
                                    </div>
                                </div>
                                <div class="donguilist">
                                    <div class="donguiwrap">
                                        <label class="donguilabel all-donguilabel">
                                            <input type="checkbox" class="checkbox term">
                                            <div class="donguibox box1">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <span>본인은 만 14세 이상입니다.</span>
                                        </label>
                                        <span class="donguipilsoo">
                                            (필수)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inputcomplete">
                        <button class="singnupbutton">
                            <span class="addressinfo">가입하기</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/main/signup.js"></script>
</html>