<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/main/signup.css">
    <link rel="stylesheet" href="../../static/fonts/pretendard/font.css">    
</head>
<body>
    <div id="__next">
        <div>
            <div class="header">
                <div class="login-nav">
                    <a href="" class="joinus">회원가입</a>
                    <div class="bar"></div>
                    <a href="" class="login">로그인</a>
                    <div class="bar"></div>
                    <div class="customer-service">
                        <a href="" class="customer-service-url">고객센터
                            <span class="customer-service-icon"></span>
                        </a>
                        <div class="menu customer-service-list">
                            <div class="list-menu">공지사항</div>
                            <div class="list-menu">자주하는 질문</div>
                            <div class="list-menu">1:1 문의</div>
                        </div>
                    </div>
                </div>
                <div class="header-top">
                    <div class="logo"> 
                        <img src="../../static/images/main/logo.png" class="logo-img">
                        <button class="active main-button">너도 먹고</button>
                        <button class="main-button">나도 먹고</button>
                    </div>
                    <div class="search-big">
                        <div class="css-vdi47h search">
                            <input placeholder="검색어를 입력해주세요" autocomplete="off" class="search-input">
                            <button id="submit" class="search-button popup-trigger" data-target="#popup2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                    <g fill="none" fill-rule="evenodd">
                                        <path fill="none" d="M0 0h36v36H0z"/>
                                        <g stroke="rgb(50, 116, 63)" stroke-linecap="round" stroke-width="1.7">
                                            <path d="m26.081 26.081-4.12-4.12M16.467 23.334a6.867 6.867 0 1 0 0-13.734 6.867 6.867 0 0 0 0 13.734z"/>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="header-icon">
                        <div class="icon-container">
                            <div class="alarm-icon"></div>
                            <div id="root" class="alarm-icon-wrap">
                                <div class="alarm-icon-in">
                                    <header class="alarm-icon-header">
                                        <div class="alarm-icon-inner">
                                            <h1 class="blind"></h1>
                                            <div class="title_area">
                                                <a href="" class="link_title">
                                                    <h2 class="title">알림</h2>
                                                </a>
                                            </div>
                                            <div ></div>
                                        </div>
                                    </header>
                                    <main class="alarm-icon-content">
                                        <div class="notice_content">
                                            <div class="section_notice_preview" style="height: inherit;"></div>
                                        </div>
                                    </main>
                                </div>
                            </div>
                        </div>
                        <button class="good-icon"></button>
                        <div class="cart-icon">
                            <button class="cart-icon-button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header" class="header-nav-big">
                <div class="header-nav">
                    <div class="category">
                        <span class="category-img"></span>
                        <span class="category-text">카테고리</span>
                        <div class="category-list">
                            <div class="category-list-inner">
                                <ul class="category-ul">
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/1/4IYbd0CEWkokpqiN00CAL9cDC2Q7nT101TDEn0tF.png" class="category-li-img">
                                            <span class="category-li-text">채소</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/2/DNXCcUaXoXakDOdHiGhIMCNUeUjJioG9EyeQ7RRX.png" class="category-li-img">
                                            <span class="category-li-text">과일·견과·쌀</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/3/fivaoZPBTeqaDswJUgr3k0xMV0von36Qb9qnn7ZZ.png" class="category-li-img">
                                            <span class="category-li-text">수산·해산·건어물</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/4/jj6zZg2sY94aytlc2k1udIAmWWvmUignR9VYaMcm.png" class="category-li-img">
                                            <span class="category-li-text">정육·가공육·달걀</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/230/y5jylUkFHNhzAJQ8IqLijPx9RSd474nOZf5dKa6e.png" class="category-li-img">
                                            <span class="category-li-text">기타</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav-ul">
                        <li class="nav-li">
                            <span class="nav-li-text">신상품</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">베스트</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">알뜰쇼핑</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">특가/혜택</span>
                        </li>
                    </ul>
                    <div class="announce-button">
                        <a href="">
                            <div class="announce-button-in">
                                <span class="announce-button-text">나도 먹고</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="signuppage">
                <div class="signuptext">회원가입</div>
                <div class="signupinput">
                    <div class="inputheader">
                        <span class="star">*</span>
                         필수입력사항
                    </div>
                    <div class="inputmain">
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">
                                    아이디
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="idinputcontainer">
                                <div class="idinput">
                                    <div class="idinputlan">
                                        <input placeholder="아이디를 입력해주세요" type="text" class="idinputbox">
                                    </div>
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">
                                    비밀번호
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="idinputcontainer">
                                <div class="idinput">
                                    <div class="idinputlan">
                                        <input placeholder="비밀번호를 입력해주세요" type="text" class="idinputbox">
                                    </div>
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">
                                    비밀번호확인
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="idinputcontainer">
                                <div class="idinput">
                                    <div class="idinputlan">
                                        <input placeholder="비밀번호를 한 번 더 입력해주세요" type="text" class="idinputbox">
                                    </div>
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">
                                    이름
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="idinputcontainer">
                                <div class="idinput">
                                    <div class="idinputlan">
                                        <input placeholder="이름를 입력해주세요" type="text" class="idinputbox">
                                    </div>
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">
                                    이메일
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="emailinputcontainer">
                                <div class="emailinput">
                                    <div class="emaillist">
                                        <input placeholder="예: marketkurly" type="text" class="emailinputtext">
                                        <div class="emailat">@</div>
                                        <div class="emailchoose">
                                            <button class="btn-text empty">선택하기</button>
                                            <button class="btn-select">
                                                <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9ImljX2Fycm93X2Rvd25fNDgiPgo8cGF0aCBpZD0iU2hhcGUiIGQ9Ik0yNC4wNzc2IDI2LjczMDFMMjcuODI3NiAyMi4yMzAxQzI4LjIzNDcgMjEuNzQxNiAyNy44ODczIDIxIDI3LjI1MTQgMjFIMTkuNzUxNEMxOS4xMTU2IDIxIDE4Ljc2ODIgMjEuNzQxNiAxOS4xNzUzIDIyLjIzMDFMMjIuOTI1MyAyNi43MzAxQzIzLjIyNTEgMjcuMDkgMjMuNzc3OCAyNy4wOSAyNC4wNzc2IDI2LjczMDFaIiBmaWxsPSIjMzMzMzMzIi8+CjwvZz4KPC9zdmc+Cg==">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtext">
                                    휴대폰
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="emailinputcontainer">
                                <div class="idinputlan">
                                    <div class="phoneinput">
                                        <input type="tel" placeholder="숫자만 입력해주세요." class="idinputbox">
                                    </div>
                                </div>
                            </div>
                            <div class="idspace">
                                <button type="button" class="phonebutton" disabled>
                                    <span class="phonenumber">인증번호 받기</span>
                                </button>
                            </div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">
                                    주소
                                    <span class="addressstar">*</span>
                                </label>
                            </div>
                            <div class="emailinputcontainer">
                                <button class="addresssearch">
                                    <span class="addressinfo">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20"><script xmlns=""/>
                                            <g fill="none" fill-rule="evenodd">
                                                <path fill="#FFF" fill-opacity="0" fill-rule="nonzero" d="M0 0H20V20H0z" transform="translate(.4)"/>
                                                <path fill="rgb(50, 116, 63)" d="M9.333 4.667C11.911 4.667 14 6.756 14 9.333c0 1.051-.347 2.02-.933 2.8.024.018.048.04.071.062l2 2c.26.26.26.683 0 .943-.26.26-.682.26-.943 0l-2-2-.061-.071c-.78.586-1.75.933-2.8.933-2.578 0-4.667-2.09-4.667-4.667s2.089-4.666 4.666-4.666zm0 1.333C7.493 6 6 7.492 6 9.333c0 1.841 1.492 3.334 3.333 3.334 1.841 0 3.334-1.493 3.334-3.334C12.667 7.493 11.174 6 9.333 6z" transform="translate(.4)"/>
                                            </g>
                                        </svg>
                                        주소 검색
                                    </span>
                                </button>
                                <span class="deliveryinfo">배송지에 따라 상품 정보가 달라질 수 있습니다.</span>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">성별</label>
                            </div>
                            <div class="emailinputcontainer">
                                <div class="gendercontainer">
                                    <label class="genderchoose">
                                        <input type="radio" class="genderbutton">
                                        <span class="genderoo">
                                            <div class="gendero"></div>
                                        </span>
                                        <span class="gendertext">남자</span>
                                    </label>
                                    <label class="genderchoose">
                                        <input type="radio" class="genderbutton">
                                        <span class="genderoo">
                                            <div class="gendero"></div>
                                        </span>
                                        <span class="gendertext">여자</span>
                                    </label>
                                    <label class="genderchoose">
                                        <input type="radio" class="genderbutton">
                                        <span class="gendernoneoo">
                                            <div class="gendernoneo"></div>
                                        </span>
                                        <span class="gendernonetext">선택안함</span>
                                    </label>
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">생년월일</label>
                            </div>
                            <div class="emailinputcontainer">
                                <div class="birthcontainer">
                                    <div class="birthlan">
                                        <div class="birthinputcontainer">
                                            <input type="text" placeholder="YYYY" class="birthinput">
                                        </div>
                                    </div>
                                    <span class="birthline">
                                    </span>
                                    <div class="birthlan">
                                        <div class="birthinputcontainer">
                                            <input type="text" placeholder="MM" class="birthinput">
                                        </div>
                                    </div>
                                    <span class="birthline"></span>
                                    <div class="birthlan">
                                        <div class="birthinputcontainer">
                                            <input type="text" placeholder="DD" class="birthinput">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                        <div class="inputlist">
                            <div class="idtext">
                                <label class="idtextstar">추가입력 사항</label>
                            </div>
                            <div class="emailinputcontainer">
                                <div class="invitefriend">
                                    <label class="genderchoose">
                                        <input type="radio" class="genderbutton">
                                        <span class="genderoo">
                                            <div class="gendero"></div>
                                        </span>
                                        <span class="gendernonetext">친구초대 추천인 아이디</span>
                                    </label>
                                </div>
                            </div>
                            <div class="idspace"></div>
                        </div>
                    </div>
                    <div class="inputspace"></div>
                    <div class="inputdongui">
                        <div class="donguicontainer">
                            <div class="idtext">
                                <label class="idtextstar">
                                    이용약관동의
                                    <span class="star">*</span>
                                </label>
                            </div>
                            <div class="emailinputcontainer">
                                <div class="donguilist">
                                    <label class="donguibutton">
                                        <input type="checkbox" class="checkbox">
                                        <div class="donguibox">
                                            <svg width="24" height="24" veiwBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </div>
                                        <span>전체 동의합니다.</span>
                                    </label>
                                    <p class="littletext">선택항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를 이용할 수 있습니다.</p>
                                </div>
                                <div class="donguilist">
                                    <div class="donguiwrap">
                                        <label class="donguilabel">
                                            <input type="checkbox" class="checkbox">
                                            <div class="donguibox">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path><path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <span>이용약관 동의</span>
                                        </label>
                                        <span class="donguipilsoo">
                                            (필수)
                                        </span>
                                    </div>
                                    <a class="donguiterms">
                                        약관보기
                                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11" class="more-arrows">
                                            <path fill="rgb(50, 116, 63)" fill-rule="evenodd" d="M1 11L6 5.5 1 0 0 1.1 4 5.5 0 9.9z"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="donguilist">
                                    <div class="donguiwrap">
                                        <label class="donguilabel">
                                            <input type="checkbox" class="checkbox">
                                            <div class="donguibox">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path><path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <span>개인정보 수집∙이용 동의</span>
                                        </label>
                                        <span class="donguipilsoo">
                                            (필수)
                                        </span>
                                    </div>
                                    <a class="donguiterms">
                                        약관보기
                                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11" class="more-arrows">
                                            <path fill="rgb(50, 116, 63)" fill-rule="evenodd" d="M1 11L6 5.5 1 0 0 1.1 4 5.5 0 9.9z"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="donguilist">
                                    <div class="donguiwrap">
                                        <label class="donguilabel">
                                            <input type="checkbox" class="checkbox">
                                            <div class="donguibox">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path><path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <span>마케팅 광고 활용을 위한 수집 및 이용 동의</span>
                                        </label>
                                        <span class="donguipilsoo">
                                            (선택)
                                        </span>
                                    </div>
                                    <a class="donguiterms">
                                        약관보기
                                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11" class="more-arrows">
                                            <path fill="rgb(50, 116, 63)" fill-rule="evenodd" d="M1 11L6 5.5 1 0 0 1.1 4 5.5 0 9.9z"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="donguilist2">
                                    <div class="donguiwrap">
                                        <label class="donguilabel">
                                            <input type="checkbox" class="checkbox">
                                            <div class="donguibox">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <span>무료배송, 할인쿠폰 등 혜택/정보 수신 동의</span>
                                        </label>
                                        <span class="donguipilsoo">
                                            (선택)
                                        </span>
                                    </div>
                                    <div class="donguiwrap2">
                                        <label class="donguiemail">
                                            <input type="checkbox" class="checkbox">
                                            <div class="donguibox">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <span>SMS</span>
                                        </label>
                                        <label class="donguiemail">
                                            <input type="checkbox" class="checkbox">
                                            <div class="donguibox">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <span>이메일</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="donguilist">
                                    <div class="donguiwrap">
                                        <label class="donguilabel">
                                            <input type="checkbox" class="checkbox">
                                            <div class="donguibox">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <span>본인은 만 14세 이상입니다.</span>
                                        </label>
                                        <span class="donguipilsoo">
                                            (필수)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inputcomplete">
                        <button class="singnupbutton">
                            <span class="addressinfo">가입하기</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</body>
</html>