@font-face {
    font-family: Material Design Icons;
    src: url(../../../fonts/icons/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2);
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #507cf3;
    --secondary: #bed6d5;
    --success: #40c8bc;
    --info: #8baaff;
    --warning: #f93;
    --danger: #fe657e;
    --light: #f8f9fa;
    --dark: #4e5d6c;
    --breakpoint-xs: 0;
    --breakpoint-sm: 800px;
    --breakpoint-md: 992px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1700px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    font-family: Arial, NotoSansKr, Noto Sans, sans-serif;
    letter-spacing: -.3px;
}
body {
    background-color: #f5f5f5;
    color: #212529;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

body #bootpay {
    height: 100%;
}
#bootpay {
    background-color: #f5f5f5;
    display: flex;
}
*, :after, :before {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 55%, .4);
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: hsla(0, 0%, 55%, .1);
}
#boot-notify-container {
    padding: 20px 20px 0 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 340px;
    z-index: 1051;
}
.popup-manager {
    background-color: gray;
    height: 0;
    left: 50%;
    overflow: visible;
    position: fixed;
    top: 10%;
    transform: translate(-50%);
    z-index: 1041;
}
#bootpay>#bootpay-side {
    transition: all .2s;
    width: 240px;
}
aside {
    display: block;
}
#bootpay>#bootpay-side #side-wrapper {
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .06);
    height: 100%;
    transition: all .2s;
    width: 240px;
}
.flex-column {
    flex-direction: column !important;
}
.d-flex {
    display: flex !important
;
}
#bootpay>#bootpay-side #side-wrapper .side-header .app-wrapper {
    padding: 14px 18px 24px;
    position: relative;
}
#bootpay>#bootpay-side #side-wrapper .side-header .app-wrapper:after {
    border-bottom: 1px solid #edeff0;
    bottom: 0;
    content: "";
    height: 0;
    left: 30px;
    position: absolute;
    right: 30px;
}
.comp-provider-name {
    white-space: nowrap;
}
#bootpay>#bootpay-side #side-wrapper .side-header .app-wrapper .provider-name {
    color: #8b9298;
    font-size: 13px;
    font-weight: 700;
    padding: 6px 10px;
    vertical-align: middle;
}
.comp-provider-name .comp-icon, .comp-provider-name span.pn-name {
    display: inline-block;
    vertical-align: middle;
}
#bootpay>#bootpay-side #side-wrapper .side-header .app-wrapper .app-name {
    background-color: rgba(80, 124, 243, .07);
    border-radius: 3px;
    color: #507cf3;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 14px;
    transition: background-color .1s;
}
.align-items-center {
    align-items: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.d-flex {
    display: flex !important;
}
a {
    background-color: transparent;
    color: #007bff;
    text-decoration: none;
}
a, a:active, a:focus, a:hover {
    color: #525f7f;
    text-decoration: none !important;
}
/* .mdi-apps:before {
    content: "\F003B";
} */
.mdi-set, .mdi:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font: normal normal normal 24px / 1 Material Design Icons;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
}
#bootpay>#bootpay-side #side-wrapper>.menu-wrapper {
    padding: 20px;
}
#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}
.flex-column {
    flex-direction: column !important;
}
.d-flex {
    display: flex !important;
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li a {
    border-radius: 3px;
    color: #292929;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: .7rem .5rem;
    transition: all .4s;
    vertical-align: middle;
}
.w-100 {
    width: 100% !important;
}
.d-flex {
    display: flex !important;
}
#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li a i {
    font-size: 17px;
    vertical-align: middle;
}

.mdi-credit-card-plus-outline:before {
    content: "\F0676";
}

#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li a span.menu-name {
    line-height: 26px;
    margin-left: 12px;
}


.text-right {
    text-align: right !important;
}
.flex-grow-1 {
    flex-grow: 1 !important;
}


#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li>ul.menu-sub-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.collapse:not(.show) {
    display: none;
}
#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li>ul.menu-sub-list>li {
    margin-left: 1.1rem;
}
.mdi-chevron-down:before {
    content: "\F0140";
}
#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li>ul.menu-sub-list>li>a {
    color: #56626a;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 0 8px 24px;
    transition: all .2s;
}

.collapse:not(.show) {
    display: none;
}
.mdi-tune-vertical:before {
    content: "\F066A";
}
#bootpay>#bootpay-side #side-wrapper>.menu-wrapper>ul.menu-list>li a:hover {
    background-color: #eef2fe !important;
    color: #292929;
}
.mdi-format-list-text:before {
    content: "\F126F";
}
.mdi-form-textbox-password:before {
    content: "\F07F5";
}
.mdi-chevron-down:before {
    content: "\F0140";
}
.mdi-chevron-down:before {
    content: "\F0140";
}
.mdi-credit-card-clock-outline:before {
    content: "\F0EE2";
}
/* ss */