<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너도먹고나도먹고</title>
    <link rel="stylesheet" href="../../static/css/together-product/detail/detail.css">
</head>
<body>
    <div class="layout-wrapper">
        <div class="container">
            <div class="product-section detail">
                <div class="product-top">
                    <div class="product-img-section">
                        <div class="product-img">
                            <img src="https://product-image.kurly.com/hdims/resize/%5E%3E720x%3E936/cropcenter/720x936/quality/85/src/product/image/2e98dcf1-3940-499a-9476-0e1cb1908074.jpg">
                        </div>
                    </div>
                    <div class="product-info-section">
                        <div class="product-info-title-top">
                            <div class="product-info-title">
                                <div class="product-meta-path">
                                    <span class="product-delivery">샛별배송</span>
                                    <button class="product-brand">
                                        <span class="brand-name">오봉집</span>
                                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84863 5.00001L3.42437 9.42427L2.57584 8.57574L6.15158 5.00001L2.57584 1.42427L3.42437 0.575745L7.84863 5.00001Z" fill="#b5b5b5"></path>
                                        </svg>
                                    </button>
                                </div>
                                <h1 class="product-title">[오봉집] 오봉집 칼낙지 (2인분)</h1>
                                <h2 class="product-description">칼국수와 낙지를 듬뿍 담은 시그니처 메뉴</h2>
                            </div>
                            <div class="share-url-box">
                                <button class="share-tooltip-btn"></button>
                            </div>
                        </div>
                        <div class="product-info-price">
                            <div class="discount-box">
                                <span class="discount-rate">10%</span>
                                <div class="sale-price-box">
                                    <span class="sale-price">14,310</span>
                                    <span class="unit">원</span>
                                </div>
                            </div>
                            <span class="original-price-box">
                                <span class="original-price">15,900원</span>
                                <button type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                        <circle cx="10.5" cy="10.5" r="6.9" stroke="#ccc" stroke-width="1.2"></circle>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.19735 8.7317H7.80005C7.84762 7.32251 8.81681 6.2998 10.5828 6.2998C12.2119 6.2998 13.3 7.23926 13.3 8.55332C13.3 9.46305 12.8482 10.0993 12.0395 10.5809C11.2606 11.0387 11.0406 11.342 11.0406 11.9306V12.2695H9.66113L9.65518 11.8652C9.60167 10.9733 9.94654 10.4382 10.7671 9.95656L10.9414 9.84757C11.5443 9.45619 11.7541 9.14643 11.7541 8.60683C11.7541 7.98845 11.2546 7.54251 10.5055 7.54251C9.73843 7.54251 9.24491 8.00629 9.19735 8.7317ZM9.42924 14.1603C9.42924 14.7312 9.82167 15.1058 10.4163 15.1058C11.0228 15.1058 11.4033 14.7312 11.4033 14.1603C11.4033 13.5836 11.0228 13.209 10.4163 13.209C9.82167 13.209 9.42924 13.5836 9.42924 14.1603Z" fill="#CCCCCC"></path>
                                    </svg>
                                </button>
                            </span>
                        </div>
                        <ul class="product-info-list">
                            <li class="product-info-item">
                                <span class="info-label">배송</span>
                                <div class="info-content">
                                    <span class="info-value">새별배송</span>
                                    <p class="info-dec">23시 전 주문 시 수도권/충청 내일 아침 7시 전 도착(그 외 지역 아침 8시 전 도착)</p>
                                </div>
                            </li>
                            <li class="product-info-item">
                                <span class="info-label">판매자</span>
                                <div class="info-content">
                                    <span class="info-value">컬리</span>
                                </div>
                            </li>
                            <li class="product-info-item">
                                <span class="info-label">포장타입</span>
                                <div class="info-content">
                                    <span class="info-value">냉동</span>
                                    <p class="info-dec">택배배송은 에코 포장이 스티로폼으로 대체됩니다.</p>
                                </div>
                            </li>
                            <li class="product-info-item">
                                <span class="info-label">포장타입</span>
                                <div class="info-content">
                                    <span class="info-value">냉동</span>
                                    <p class="info-dec">택배배송은 에코 포장이 스티로폼으로 대체됩니다.</p>
                                </div>
                            </li>
                            <li class="product-info-item">
                                <span class="info-label">포장타입</span>
                                <div class="info-content">
                                    <div class="product-option-item">
                                        <p class="option-name">[오봉집] 오봉집 칼낙지 (2인분)</p>
                                        <div class="option-info">
                                            <div class="product-quantity-box">
                                                <button type="button" class="quantity-btn minus"></button>
                                                <div class="count">0</div>
                                                <button type="button" class="quantity-btn plus"></button>
                                            </div>
                                            <div class="option-price">
                                                <span class="origin-price">15,900원</span>
                                                <span class="final-price">14,310원</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="total-price-box">
                            <span class="total-label">총 상품금액 :</span>
                            <span class="total-amount">14,310</span>
                            <span class="total-unit">원</span>
                        </div>
                        <div class="product-action-buttons">
                            <button type="button" class="btn-wish">
                                <span>
                                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yNS44MDcgNy44NjNhNS43NzcgNS43NzcgMCAwIDAtOC4xNzIgMEwxNiA5LjQ5N2wtMS42MzUtMS42MzRhNS43NzkgNS43NzkgMCAxIDAtOC4xNzMgOC4xNzJsMS42MzQgMS42MzQgNy40NjYgNy40NjdhMSAxIDAgMCAwIDEuNDE1IDBzMCAwIDAgMGw3LjQ2Ni03LjQ2N2gwbDEuNjM0LTEuNjM0YTUuNzc3IDUuNzc3IDAgMCAwIDAtOC4xNzJ6IiBzdHJva2U9IiM1RjAwODAiIHN0cm9rZS13aWR0aD0iMS42IiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K">
                                </span>
                            </button>
                            <button type="button" class="btn-alarm">
                                <span>
                                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIHN0cm9rZT0iI0NDQyIgc3Ryb2tlLXdpZHRoPSIxLjYiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTEyLjY2NiAyM2EzLjMzMyAzLjMzMyAwIDEgMCA2LjY2NiAwIi8+CiAgICAgICAgPHBhdGggZD0iTTI1Ljk5OCAyMi43MzhINmwuMDEzLS4wM2MuMDc2LS4xMzUuNDcxLS43MDQgMS4xODYtMS43MDlsLjc1LTEuMDV2LTYuNjM1YzAtNC40ODUgMy40MzgtOC4xNCA3Ljc0MS04LjMwOEwxNiA1YzQuNDQ2IDAgOC4wNSAzLjcyMiA4LjA1IDguMzE0djYuNjM0bDEuNzA3IDIuNDExYy4xNzMuMjUzLjI1NC4zOC4yNDIuMzh6IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KICAgIDwvZz4KPC9zdmc+Cg==">
                                </span>
                            </button>
                            <div class="btn-wrap">
                                <button type="button" class="btn-cart btn-primary">
                                    <span>장바구니 담기</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-description-section">
                    <ul class="product-tab-menu">
                        <li class="tab-item">
                            <a class="tab-link on">
                                <span class="name">상품설명</span>
                            </a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-link">
                                <span class="name">상세정보</span>
                            </a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-link">
                                <span class="name">후기</span>
                                <span class="count">(797)</span>
                            </a>
                        </li>
                        <li class="tab-item">
                            <a class="tab-link">
                                <span class="name">문의</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>