/* reset */
*, :after, :before, legend, td, th {
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}

button {
    cursor:pointer;
    background-color: transparent;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
  list-style: none;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

img {
    width: 100%;
}

/* text-color */
.text-primary {
    color: rgb(50, 116, 63) !important;
}

.text-error {
    color: rgb(240, 63, 64) !important;
}

.text-accent {
    color: rgb(250, 98, 47) !important;
}

/* button - color */
.btn-default {
    display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding: 0px;
    font-weight: 500;
    font-size: 16px;
    color: rgb(50, 116, 63);
}

.btn-primary {
    display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 116, 63);
    border: 0px none;
}

.btn-outline {
    display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
}

.btn-outline-pimary {
    display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(50, 116, 63);
    color: rgb(50, 116, 63);
}

/* font-size */
.fz16 {
    font-size: 16px;
}

/* layout */
.sub {
    position: relative;
}

.layout-wrapper {
    position: relative;
    margin-bottom: 80px;
}

.layout-wrapper.gray {
    background-color: #f2f5f8;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1050px;
    margin: 0px auto;
}

/* order-complete-section */
.order-complete-section {
    padding: 90px 0;
}

.order-complete-message {
    width: 400px;
    margin: 0 auto;
}

.order-complete-title {
    display: flex;
    justify-self: center;
    gap: 8px;
    padding-bottom: 20px;
    align-items: center;
}

.order-complete-title .order-title {
    font-size: 20px;
    font-weight: 500;
    color: rgb(50, 116, 63);
}

.order-complete-item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}

.order-complete-item.price {
    justify-content: space-between;
}

.order-complete-item.price .order-label {
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

.order-complete-item.price .total-price-box span {
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

.order-complete-item.price .total-price-box .order-count {
    font-size: 20px;
    font-weight: 700;
}

.order-complete-item:not(:first-child) {
    margin-top: 10px;
}

.order-complete-item span {
    font-size: 13px;
    color: #848f9a;
}

.ul-dot-list {
    margin: 12px 0 24px;
}

.ul-dot-list li {
    position: relative;
    padding-top: 4px;
    font-size: 14px;
    line-height: 19px;
    padding-left: 11px;
    color: #999;
    text-align: left;
}

.ul-dot-list li:before {
    overflow: hidden;
    position: absolute;
    width: 3px;
    height: 3px;
    margin: 9px 8px 0 -10px;
    background: #ccc;
    vertical-align: top;
    border-radius: 50%;
    content: '';
}

.order-complete-message .btn-wrap a:last-child {
    margin-top: 10px;
}

