<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/pretendard/font.css">
    <link rel="stylesheet" href="/css/buyer-customer-center/faq.css">
    <link rel="shortcut icon" href="/images/main/favicon.png" type="image/x-icon">
    <title>너도먹고나도먹고</title>
</head>
<body>
    <div class="sub">
        <div>
            <div class="sub-layout-wrapper">
                <div class="sub-container">
                    <div class="customer-section">
                        <div class="customer-sidebar">
                            <div class="sidebar-menu-wrap">
                                <h2 class="customer-title">고객센터</h2>
                                <ul class="sidebar-menu-list">
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu">
                                            <span>공지사항</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu active">
                                            <span>자주하는 질문</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu">
                                            <span>1:1 문의</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="customer-content">
                            <div class="notice-board">
                                <div class="notice-board-title">
                                    <div class="notice-board-title-wrap">
                                        <h3 class="notice-title">자주하는 질문</h3>
                                        <span class="notice-text">고객님들께서 가장 자주하시는 질문을 모두 모았습니다.</span>
                                    </div>
                                    <div class="dropdown-wrap">
                                        <button class="dropdown-toggle">
                                            <span>전체</span>
                                            <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined css-1636szt" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowDropDownIcon"><path d="M7 10l5 5 5-5z"></path></svg>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>전체</li>
                                            <li>TOP 공지</li>
                                            <li>회원</li>
                                            <li>주문/결제</li>
                                            <li>취소/교환/환불</li>
                                            <li>배송</li>
                                            <li>상품</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="notice-board-table">
                                    <table class="table-wrap">
                                        <colgroup>
                                            <col style="width: 10%;"/>
                                            <col style="width: 15%;"/>
                                            <col style="width: 80%;"/>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="no">번호</th>
                                                <th class="category">카테고리</th>
                                                <th class="title">제목</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-item question-item">
                                                <td class="no">231</td>
                                                <td class="category">취소/교환/환불</td>
                                                <td class="title">반품 진행 시, 배송비가 부과 되나요?</td>
                                            </tr>
                                            <tr class="table-item answer-item">
                                                <td colspan="3">
                                                    <div class="answer-wrap">
                                                        <div class="icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                <g fill="none" fill-rule="evenodd">
                                                                    <g>
                                                                        <g>
                                                                            <g>
                                                                                <g transform="translate(-445 -1918) translate(423 276) translate(2 1622) translate(20 20)">
                                                                                    <circle cx="12" cy="12" r="12" fill="#32743f"></circle>
                                                                                    <path fill="#FFF" fill-rule="nonzero" d="M9.76 15.708l.54-1.404h3.456l.552 1.404h2.148L13 7.5h-1.932L7.6 15.708h2.16zm3.324-3.132h-2.112l1.056-2.712 1.056 2.712z"></path>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </svg>
                                                        </div>
                                                        <div class="text-wrap">
                                                            <p class="text">안녕하세요 고객님 현재 문의량이 많아 고객님의 소중한 문의글에 대해 빠르게 확인하고 답변을 드리고자 하였음에도, 시간이 지난 현재 답변을 드리게되어 너무나도 죄송하단 말씀 드립니다.
                                                                해당 상품은 대월, 유명 등의 아삭한 품종으로 운영되고 있으며 페이지 내 안내된 바와 같이 모두 국내 농가 재배 상품임을 안내드립니다. 답변드린 내용을 통해 궁금하신 사항이 해결되셨길 바라며,
                                                                추가적인 문의 사항이 있으시면 언제든 고객행복센터를 찾아주시기를 바랍니다. 늘 신선하고 최상의 상품을 통해 풍요로운 식탁이 될 수 있도록 컬리가 함께하겠습니다.
                                                                장마와 무더위로 인해 지치지 않도록 건강 조심하시고 늘 시원한 하루가 되셨으면 좋겠습니다.</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="table-item question-item">
                                                <td class="no">231</td>
                                                <td class="category">취소/교환/환불</td>
                                                <td class="title">반품 진행 시, 배송비가 부과 되나요?</td>
                                            </tr>
                                            <tr class="table-item answer-item">
                                                <td colspan="3">
                                                    <div class="answer-wrap">
                                                        <div class="icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                <g fill="none" fill-rule="evenodd">
                                                                    <g>
                                                                        <g>
                                                                            <g>
                                                                                <g transform="translate(-445 -1918) translate(423 276) translate(2 1622) translate(20 20)">
                                                                                    <circle cx="12" cy="12" r="12" fill="#32743f"></circle>
                                                                                    <path fill="#FFF" fill-rule="nonzero" d="M9.76 15.708l.54-1.404h3.456l.552 1.404h2.148L13 7.5h-1.932L7.6 15.708h2.16zm3.324-3.132h-2.112l1.056-2.712 1.056 2.712z"></path>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </svg>
                                                        </div>
                                                        <div class="text-wrap">
                                                            <p class="text">안녕하세요 고객님 현재 문의량이 많아 고객님의 소중한 문의글에 대해 빠르게 확인하고 답변을 드리고자 하였음에도, 시간이 지난 현재 답변을 드리게되어 너무나도 죄송하단 말씀 드립니다.
                                                                해당 상품은 대월, 유명 등의 아삭한 품종으로 운영되고 있으며 페이지 내 안내된 바와 같이 모두 국내 농가 재배 상품임을 안내드립니다. 답변드린 내용을 통해 궁금하신 사항이 해결되셨길 바라며,
                                                                추가적인 문의 사항이 있으시면 언제든 고객행복센터를 찾아주시기를 바랍니다. 늘 신선하고 최상의 상품을 통해 풍요로운 식탁이 될 수 있도록 컬리가 함께하겠습니다.
                                                                장마와 무더위로 인해 지치지 않도록 건강 조심하시고 늘 시원한 하루가 되셨으면 좋겠습니다.</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="table-item question-item">
                                                <td class="no">231</td>
                                                <td class="category">취소/교환/환불</td>
                                                <td class="title">반품 진행 시, 배송비가 부과 되나요?</td>
                                            </tr>
                                            <tr class="table-item question-item">
                                                <td class="no">231</td>
                                                <td class="category">취소/교환/환불</td>
                                                <td class="title">반품 진행 시, 배송비가 부과 되나요?</td>
                                            </tr>
                                            <tr class="table-item question-item">
                                                <td class="no">231</td>
                                                <td class="category">취소/교환/환불</td>
                                                <td class="title">반품 진행 시, 배송비가 부과 되나요?</td>
                                            </tr>
                                            <!-- 데이터 없을때 -->
                                            <tr class="table-item">
                                                <td class="no-data" colspan="4">게시글이 없습니다.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pagenation">
                                        <button type="button" class="prev" disabled></button>
                                        <button type="button" class="next"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/buyer-customer-center/faq.js"></script>
</html>