<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/fonts/pretendard/font.css">
    <link rel="stylesheet" href="../../static/css/buyer-customer-center/notice-detail.css">
    <title>너도먹고나도먹고</title>
</head>
<body>
    <div class="sub">
        <div>
            <div class="sub-layout-wrapper">
                <div class="sub-container">
                    <div class="customer-section">
                        <div class="customer-content">
                            <div class="notice-board">
                                <div class="notice-board-title">
                                    <h3 class="notice-title">공지사항</h3>
                                    <span class="notice-text">컬리의 새로운 소식들과 유용한 정보들을 한곳에서 확인하세요.</span>
                                </div>
                                <div class="notice-board-table">
                                    <table class="table-color-wrap">
                                        <tbody>
                                            <tr class="table-item">
                                                <th class="title">제목</th>
                                                <td class="content">[안내] 8월 은행/카드사 시스템 점검 일정 안내</td>
                                            </tr>
                                            <tr class="table-item">
                                                <th class="title">작성자</th>
                                                <td class="content">컬리</td>
                                            </tr>
                                            <tr class="table-item">
                                                <th class="title">작성일</th>
                                                <td class="content">2025.07.30</td>
                                            </tr>
                                            <tr class="table-item teble-content">
                                                <td colspan="2">sodadadadasd</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="btn-wrap">
                                    <button type="button" class="btn-primary">목록</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>