/* 공통 요소 */
*, :after, :before, legend, td, th {
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

html, body, span, div, button, input, label, select, option, textarea {
    font-family: var(--kpds_ldmw170);
}

a, abbr, acronym, address, applet, article, 
aside, audio, b, big, blockquote, body, 
button, canvas, caption, center, cite, code, 
dd, del, details, dfn, div, dl, dt, em, 
embed, fieldset, figcaption, figure, footer, 
form, h1, h2, h3, h4, h5, h6, header, 
hgroup, html, i, iframe, img, ins, kbd, 
label, legend, li, mark, menu, nav, object, 
ol, output, p, pre, q, ruby, s, samp, 
section, small, span, strike, strong, sub, 
summary, sup, table, tbody, td, tfoot, th, 
thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* footer */

.css-17cdx60, .footer-big {
    padding-top: 30px;
    border-top: 1px solid #f7f7f7;
}

.css-1i60c0e, .footer-top {
    width: 1050px;
    margin: 0 auto;
}

.css-j6zuv6, .footer-top-top {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 30px;
}

.css-4iyald, .center {
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.css-9jqcug, .center-number {
    display: block;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
}

.css-1p6dp6j, .footer-top-floor {
    display: flex;
    justify-content: space-evenly;
    padding: 26px 0 33px;
    border-top: 1px solid #eee;
}

.css-1uz1ro8, .center-time {
        margin-left: 8px;
    font-weight: normal;
    font-size: 16px;
}

.css-1fttcpj, .informations {
    display: flex;
    flex-direction: column;
}

.css-ho1qnd, .information {
    display: flex;
    flex-direction: row;
}

.css-hupzfj, .information-button {
    display: block;
    width: 140px;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;
}

.css-1lxmeik, .information-text {
    margin-top: 2px;
    color: #999;
    letter-spacing: -0.5px;
    line-height: 16.8px;
}

.css-w0fx7a, .footer-bar {
    margin: 0 6px;
}

svg:not(:root) {
    overflow: hidden;
}