/* 공통 */

*, :after, :before, legend, td, th {
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

html, body, span, div, button, input, label, 
select, option, textarea {
    font-family: "Noto Sans KR", "malgun gothic", AppleGothic, dotum, sans-serif;
}

a, abbr, acronym, address, applet, article,
 aside, audio, b, big, blockquote, body, 
 button, canvas, caption, center, cite, 
 code, dd, del, details, dfn, div, dl, dt, 
em, embed, fieldset, figcaption, figure, 
footer, form, h1, h2, h3, h4, h5, h6, header, 
hgroup, html, i, iframe, img, ins, kbd, 
label, legend, li, mark, menu, nav, object, 
ol, output, p, pre, q, ruby, s, samp, 
section, small, span, strike, strong, sub, 
summary, sup, table, tbody, td, tfoot, th, 
thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
}

body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}

canvas, img, video {
    max-width: 100%;
}

img, legend {
    border: 0;
    vertical-align: top;
}

ol, ul {
    list-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button {
    border-radius: 0;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
    background-color: transparent;
    border: none;
}

.blind::before {
    display: block;
    width: 0;
    height: 0;
    content: '\00a0';
    font-size: 0;
}

/* 로그인 */

.login-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    min-width: 1050px;
    margin-top: 90px;
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}

.login-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 62px;
}

.seller-buyer{
    margin-top: 10px;
    display: flex;
    margin: 0 auto;
}

.seller-buyer>button {
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 200px;
    height: 54px;
    cursor: pointer;
    margin: 0px;
    color:rgb(50, 116, 63);
    background-color:#fff;
    border: 1px solid rgb(50, 116, 63);
}

.login-buyer {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #fff;
    background-color: rgb(50, 116, 63);
}

.login-seller {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

/* 로그인 종류 선택 */

.seller-buyer>button.login-choice-active{
    color: #fff;
    background-color: rgb(50, 116, 63);
}

.seller-login {
    display: none;
}

.login-body {
    width: 400px;
    margin: 0px auto;
    letter-spacing: -0.6px;
}

.id-password-wrap {
    padding-bottom: 12px;
}

.id-password-wrap:first-of-type {
    margin-bottom: 5px;
}

.id-password {
    position: relative;
    height: 48px;
}

.login-id, .login-password {
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.id-password-wrap input {
    height: 54px;
    font-size: 14px;
}

.search-id-password {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 13px;
}

.search-id, .search-password {
    color: #333;
    cursor: pointer;
}

.login-bar {
    width: 1px;
    height: 10px;
    margin: 3px 6px 0;
    background-color: #333;
}

.button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px 0 24px;
    margin-top: 20px;
}

.enter-login {
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 6px;
    color: #fff;
    background-color: rgb(50, 116, 63);
    border: 0 none;
    cursor: pointer;
}

.enter-login-text {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.joinus-button {
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 6px;
    color: rgb(50, 116, 63);
    background-color: #fff;
    border: 1px solid rgb(50, 116, 63);
    cursor: pointer;
}

.login-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.easy-login {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 24px 0 26px;
}

.joinus-kakao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 52px;
    background-color: #fee500;
    color: #000;
    border-radius: 6px;
    height: 54px;
    cursor: pointer;
}

.buyer-kakao {
    margin-top: 25px;
    margin-bottom: 120px;
}

.joinus-kakao-p {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

/* 팝업 창 */

.popup-wrapper {
    display: none;
}

.popup-wrapper .dim {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-inner {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}

.popup-container {
    height: 100%;
    outline: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    height: auto;
    width: 360px;
    border-radius: 12px;
    box-shadow: none;
    background: #fff;
}

.popup-container.popup-product {
    padding: 0;
}

.popup-container.popup-product .popup-content {
    padding: 30px;
    width: 440px;
}

.popup-container.popup-product .popup-footer {
    border: none;
}

.popup-message {
    padding: 40px 30px;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.5px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 21px;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
}

.popup-footer {
    height: 56px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    border-top: 1px solid rgb(238, 238, 238);
    justify-content: flex-start;
    padding: 0px;
    margin-top: 0px;
}

.btn-default {
    display: block;
    width: 100%;
    height: 56px;
    padding: 0px;
    font-weight: 500;
    font-size: 16px;
    color: rgb(50, 116, 63);
    border-radius: 12px;
}

/* 로그인 실패 안내 */

.fail-login {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 6px 0px 16px;
}

.fail-login-inner {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background-color: #f2f5f8;
}

.fail-login-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #222;
    text-align: center;
}