<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너도먹고나도먹고</title>
    <link rel="stylesheet" href="../../static/fonts/pretendard/font.css">
    <link rel="stylesheet" href="../../static/css/mypage/cart.css">
    <link rel="shortcut icon" href="../../static/images/main/favicon.png" type="image/x-icon">
</head>
<body>
    <div>
        <div class="cart-wrap">
            <div class="cart">
                <h2 class="title">
                    <p>장바구니</p>
                </h2>
                <div class="cart-body">
                    <div class="cart-product">
                        <div class="total">
                            <div class="all-seclet">
                                <label for="aa" class="select-label">
                                    <input type="checkbox" name="" id="aa" class="select-input">
                                    <div class="checkbox-div"></div>
                                    <p>전체선택 3/14</p>
                                </label>
                                <button class="all-seclet-button">선택삭제</button>
                            </div>
                            <div class="a-button">
                                <span style="height: 62px;">
                                    <div class="a-button-wrap">
                                        <button class="possibility-button">
                                            <p>너도나도배송</p>
                                        </button>
                                        <button class="impossibility">
                                            <p>품절/구매불가</p>
                                        </button>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="delivery-ok">
                            <div class="all-ok">
                                <label for="all-label" class="all-label">
                                    <input type="checkbox" id="all-label" class="all-input">
                                    <div class="all-button"></div>
                                    <p class="delivery-title">너도나도배송</p>
                                </label>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="refrigeration">
                                    <span class="refrigeration-icon">
                                        <svg width="10" height="13.75" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00039 17.25C9.3141 17.25 12 14.6599 12 11.4653C12 9.33561 10.0001 5.76409 6.00039 0.75C1.99987 5.76333 0 9.33561 0 11.4653C0 14.6599 2.68668 17.25 6.00039 17.25Z" fill="#67bfa4"></path>
                                        </svg>
                                    </span>
                                    <p class="refrigeration-title">냉장 상품</p>
                                </div>
                                <div class="refrigeration-product">
                                    <div class="product-header">
                                        <div class="product-button">
                                            <label for="product-label" class="product-label">
                                                <input type="checkbox" name="" id="product-label" class="product-input">
                                                <div class="product-div"></div>
                                            </label>
                                        </div>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pay"></div>
    </div>
</body>
<script src="../../static/js/mypage/cart.js"></script>
</html>