<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너도먹고나도먹고</title>
    <link rel="stylesheet" href="../../static/fonts/pretendard/font.css">
    <link rel="stylesheet" href="../../static/css/mypage/cart.css">
    <link rel="shortcut icon" href="../../static/images/main/favicon.png" type="image/x-icon">
</head>
<body>
    <div>
        <div class="cart-wrap">
            <div class="cart">
                <h2 class="title">
                    <p>장바구니</p>
                </h2>
                <div class="cart-body">
                    <div class="cart-product">
                        <div class="total">
                            <div class="all-select">
                                <label for="aa" class="select-label">
                                    <input type="checkbox" name="" id="aa" class="select-input">
                                    <div class="checkbox-div"></div>
                                    <p>전체선택 3/14</p>
                                </label>
                                <button class="all-seclet-button">선택삭제</button>
                            </div>
                            <div class="a-button">
                                <span style="height: 62px;">
                                    <div class="a-button-wrap">
                                        <button class="possibility-button">
                                            <p>너도나도배송</p>
                                        </button>
                                        <button class="impossibility">
                                            <p>품절/구매불가</p>
                                        </button>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="delivery-ok">
                            <div class="all-ok">
                                <label for="all-label" class="all-label">
                                    <p class="delivery-title">너도나도배송</p>
                                </label>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="refrigeration-product">
                                    <div class="product-header">
                                        <div class="product-select">
                                            <div class="product-button">
                                                <label for="product-label" class="product-label">
                                                    <input type="checkbox" name="" id="product-label" class="product-input">
                                                    <div class="product-div"></div>
                                                </label>
                                            </div>
                                            <div class="product-name">
                                                <a href="">
                                                        <p>[연세우유 x 마켓컬리] 전용목장우유 1.8L</p>
                                                </a>
                                            </div>
                                        </div>
                                        <button class="product-remove">
                                            <svg width="13" height="13" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.63492 0.22168L0.220703 1.63589L6.58466 7.99985L0.220703 14.3638L1.63492 15.778L7.99888 9.41407L14.3628 15.778L15.7771 14.3638L9.41309 7.99985L15.7771 1.63589L14.3628 0.22168L7.99888 6.58564L1.63492 0.22168Z" fill="#a7b2bc"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="product-info">
                                        <div class="info-img">
                                            <a href="">
                                                <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/6225ab1a-3cb0-4b44-917b-8804d6f79ca5.jpg">
                                            </a>
                                        </div>
                                        <div class="product-info-price">
                                            <div class="price">
                                                <p>4,980원</p>
                                            </div>
                                            <div class="number">
                                                <button class="m-button">
                                                    <svg width="13.333" height="20" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 0H16V2H0V0Z" fill="#bcc4cc"></path>
                                                    </svg>
                                                </button>
                                                <p class="conut">
                                                    1
                                                </p>
                                                <button class="p-button">
                                                    <svg width="13.333" height="13.333" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M9 0H7V7H0V9H7V16H9V9H16V7H9V0Z" fill="#bcc4cc"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="delivery-no">
                            <div class="delivery-no-header">
                                <div class="no-header-inner">
                                    <div class="no-header-title">
                                        <p>품절/구매불가</p>
                                    </div>
                                    <button class="no-all-remove">
                                        <p>전체삭제</p>
                                    </button>
                                </div>
                            </div>
                            <div class="delivery-no-list">
                                <div class="delivery-no-product">
                                    <div class="no-product-info">
                                        <div class="no-product-img">
                                            <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/2c824b05-99df-4668-9b2b-2ae013a27458.jpg?v=0531">
                                        </div>
                                        <div>
                                            <div class="no-product-title">
                                                <p>(구매불가) [폰타나] 투움바 그릴드 머쉬룸 크림 파스타소스 430g</p>
                                            </div>
                                            <div class="announce">
                                                <p>배송불가 지역 또는 판매종료 상품</p>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="no-remove">
                                        <svg width="13" height="13" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1.63492 0.22168L0.220703 1.63589L6.58466 7.99985L0.220703 14.3638L1.63492 15.778L7.99888 9.41407L14.3628 15.778L15.7771 14.3638L9.41309 7.99985L15.7771 1.63589L14.3628 0.22168L7.99888 6.58564L1.63492 0.22168Z" fill="#a7b2bc"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-row-item">
                        <div class="order-amount-wrap">
                            <div class="amount-title-wrap">
                                <h3 class="amount-title">결제금액</h3>
                            </div>
                            <div class="order-amount-list">
                                <div class="order-amount-item">
                                    <div class="amount-label-wrap">
                                        <span class="amount-label">주문금액</span>
                                    </div>
                                    <div class="amount-text">
                                        <span class="count">73,065</span>
                                        <span class="unit">원</span>
                                    </div>
                                </div>
                                <div class="order-amount-item indent">
                                    <div class="amount-label-wrap">
                                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 5H0V10V11H1H6V10H1V5Z" fill="#ddd"></path></svg>
                                        <span class="amount-label">상품금액</span>
                                    </div>
                                    <div class="amount-text">
                                        <span class="count">73,065</span>
                                        <span class="unit">원</span>
                                    </div>
                                </div>
                                <div class="order-amount-item indent">
                                    <div class="amount-label-wrap">
                                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 5H0V10V11H1H6V10H1V5Z" fill="#ddd"></path></svg>
                                        <span class="amount-label">상품할인금액</span>
                                    </div>
                                    <div class="amount-text">
                                        <span class="count">-73,065</span>
                                        <span class="unit">원</span>
                                    </div>
                                </div>
                                <div class="order-amount-item">
                                    <div class="amount-label-wrap">
                                        <span class="amount-label">배송비</span>
                                    </div>
                                    <div class="amount-text">
                                        <span class="count">0</span>
                                        <span class="unit">원</span>
                                    </div>
                                </div>
                                <div class="order-amount-item">
                                    <div class="amount-label-wrap">
                                        <span class="amount-label">쿠폰할인</span>
                                    </div>
                                    <div class="amount-text">
                                        <span class="count">-1,192</span>
                                        <span class="unit">원</span>
                                    </div>
                                </div>
                                <div class="order-amount-item">
                                    <div class="amount-label-wrap">
                                        <span class="amount-label">카드즉시할인</span>
                                    </div>
                                    <div class="amount-text">
                                        <span class="count">0</span>
                                        <span class="unit">원</span>
                                    </div>
                                </div>
                                <div class="order-amount-item total">
                                    <div class="amount-label-wrap">
                                        <span class="amount-label">최종 결제금액</span>
                                    </div>
                                    <div class="amount-text">
                                        <span class="count">0</span>
                                        <span class="unit">원</span>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-primary btn-payment">
                                <span class="count">71,873</span>
                                <span class="unit">원 결제하기</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pay"></div>
    </div>
</body>
<script src="../../static/js/mypage/cart.js"></script>
</html>