<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너도먹고나도먹고</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/mypage/order.css">
    <link rel="stylesheet" href="../../static/fonts/pretendard/font.css">
    <link rel="shortcut icon" href="../../static/images/main/favicon.png" type="image/x-icon">
    
</head>
<body>
    <div id="__next">
        <div>
            <div class="header">
                <div class="login-nav">
                    <div class="customer-service">
                        <a href="" class="customer-name">너도나도 님
                            <span class="customer-service-icon"></span>
                        </a>
                        <div class="member-menu customer-service-list">
                            <div class="list-menu">주문 내역</div>
                            <div class="list-menu">회원 정보 관리</div>
                            <div class="list-menu">로그아웃</div>
                        </div>
                    </div>
                    <div class="bar"></div>
                    <div class="customer-service">
                        <a href="" class="customer-service-url">고객센터
                            <span class="customer-service-icon"></span>
                        </a>
                        <div class="menu customer-service-list">
                            <div class="list-menu">공지사항</div>
                            <div class="list-menu">자주하는 질문</div>
                            <div class="list-menu">1:1 문의</div>
                        </div>
                    </div>
                </div>
                <div class="header-top">
                    <div class="logo"> 
                        <a href="">
                            <img src="../../static/images/main/logo.png" class="logo-img">
                        </a>
                        <a href="" class="main-button-a">
                            <button class="active main-button">너도 먹고</button>
                        </a>
                        <a href="">
                            <button class="main-button">나도 먹고</button>
                        </a>
                    </div>
                    <div class="search-big">
                        <div class="css-vdi47h search">
                            <input placeholder="검색어를 입력해주세요" autocomplete="off" class="search-input">
                            <button id="submit" class="search-button popup-trigger" data-target="#popup2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                    <g fill="none" fill-rule="evenodd">
                                        <path fill="none" d="M0 0h36v36H0z"/>
                                        <g stroke="rgb(50, 116, 63)" stroke-linecap="round" stroke-width="1.7">
                                            <path d="m26.081 26.081-4.12-4.12M16.467 23.334a6.867 6.867 0 1 0 0-13.734 6.867 6.867 0 0 0 0 13.734z"/>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="header-icon">
                        <div class="icon-container">
                            <div class="alarm-icon"></div>
                            <div id="root" class="alarm-icon-wrap">
                                <div class="alarm-icon-in">
                                    <header class="alarm-icon-header">
                                        <div class="alarm-icon-inner">
                                            <h1 class="blind"></h1>
                                            <div class="title_area">
                                                <a href="" class="link_title">
                                                    <h2 class="title">알림</h2>
                                                </a>
                                            </div>
                                            <div ></div>
                                        </div>
                                    </header>
                                    <main class="alarm-icon-content">
                                        <div class="notice_content">
                                            <div class="section_notice_preview" style="height: inherit;"></div>
                                        </div>
                                    </main>
                                </div>
                            </div>
                        </div>
                        <button class="good-icon"></button>
                        <div class="cart-icon">
                            <button class="cart-icon-button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header" class="header-nav-big">
                <div class="header-nav">
                    <div class="category">
                        <span class="category-img"></span>
                        <span class="category-text">카테고리</span>
                        <div class="category-list">
                            <div class="category-list-inner">
                                <ul class="category-ul">
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/1/4IYbd0CEWkokpqiN00CAL9cDC2Q7nT101TDEn0tF.png" class="category-li-img">
                                            <span class="category-li-text">채소</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/2/DNXCcUaXoXakDOdHiGhIMCNUeUjJioG9EyeQ7RRX.png" class="category-li-img">
                                            <span class="category-li-text">과일·견과·쌀</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/3/fivaoZPBTeqaDswJUgr3k0xMV0von36Qb9qnn7ZZ.png" class="category-li-img">
                                            <span class="category-li-text">수산·해산·건어물</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/4/jj6zZg2sY94aytlc2k1udIAmWWvmUignR9VYaMcm.png" class="category-li-img">
                                            <span class="category-li-text">정육·가공육·달걀</span>
                                        </div>
                                    </li>
                                    <li class="category-li">
                                        <div class="category-li-inner">
                                            <img src="https://collection-image.kurly.com/site-category-groups/230/y5jylUkFHNhzAJQ8IqLijPx9RSd474nOZf5dKa6e.png" class="category-li-img">
                                            <span class="category-li-text">기타</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav-ul">
                        <li class="nav-li">
                            <span class="nav-li-text">신상품</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">베스트</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">알뜰쇼핑</span>
                        </li>
                        <li class="nav-li">
                            <span class="nav-li-text">특가/혜택</span>
                        </li>
                    </ul>
                    <div class="announce-button">
                        <a href="">
                            <div class="announce-button-in">
                                <span class="announce-button-text">나도 먹고</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mypage">
            <div class="mypage-order">
                <div class="mypage-list">
                    <div class="mypage-list-inner">
                        <div class="top-info-section">
                            <div class="welcom-wrap">
                                <div class="grade-name">
                                    <div class="lottie-text" style="min-width: 76px; width: 81px; height: 28px; margin-top: 3px;">
                                        <span class="hello-text">반가워요!</span>
                                    </div>
                                    <div class="user-name">너도나도 님</div>
                                </div>
                            </div>
                            <div class="often">
                                <div class="often-text">자주찾는 메뉴</div>
                                <div class="menu-wrap">
                                    <button class="menu-link">
                                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="28" height="28" fill="none"></rect>
                                            <path d="M6 5C6 3.89543 6.89543 3 8 3H25C26.1046 3 27 3.89543 27 5V21C27 23.7614 24.7614 26 22 26H8C6.89543 26 6 25.1046 6 24V5Z" fill="#fff" stroke="#5f0080" stroke-width="1.5"></path>
                                            <path d="M10 9H22" stroke="#5f0080" stroke-width="1.5" stroke-linecap="round"></path>
                                            <path d="M10 13H18" stroke="#5f0080" stroke-width="1.5" stroke-linecap="round"></path>
                                            <path d="M10.5 19H16.5" stroke="#5f0080" stroke-width="1.5" stroke-linecap="round"></path>
                                            <path d="M18.1147 19H1V22C1 24.2091 2.79086 26 5 26H22L20.9008 25.7162C18.0662 24.9843 16.7336 21.7314 18.2399 19.2211C18.2983 19.1238 18.2281 19 18.1147 19Z" fill="#fff" stroke="#5f0080" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                    <button class="menu-link"></button>
                                    <button class="menu-link"></button>
                                    <button class="menu-link"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recently-viewed-section">
            <div class="recently-viewed">
                <button type="button" class="prev">
                    <svg width="20" height="20" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 11L9 7L13 11" stroke="#666" stroke-width="1.3"></path></svg>
                </button>
                <span class="title">최근 본 상품</span>
                    <div class="recently-viewed-scroll">
                    <ul class="recently-viewed-list">
                        <li class="product-image">
                            <a href="">
                                <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                            </a>
                        </li>
                        <li class="product-image">
                            <a href="">
                                <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                            </a>
                        </li>
                        <li class="product-image">
                            <a href="">
                                <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                            </a>
                        </li>
                        <li class="product-image">
                            <a href="">
                                <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                            </a>
                        </li>
                        <li class="product-image">
                            <a href="">
                                <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                            </a>
                        </li>
                        <li class="product-image">
                            <a href="">
                                <img src="https://product-image.kurly.com/hdims/resize/%5E%3E120x%3E156/cropcenter/120x156/quality/85/src/product/image/1238a282-7b82-4bf7-8272-54f4e476e769.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="next">
                    <svg width="20" height="20" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 7L9 11L5 7" stroke="#666" stroke-width="1.3"></path>
                    </svg>
                </button>
            </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/mypage/order.js"></script>
</html>