<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너도먹고나도먹고</title>
    <link rel="stylesheet" href="../../static/fonts/pretendard/font.css">
    <link rel="stylesheet" href="../../static/css/mypage/subcribe.css">
    <link rel="shortcut icon" href="../../static/images/main/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="body-wrap">
        <div class="body">
            <div class="body-inner">
                <div class="title">
                    <p>
                        너도나도
                        <br>
                        <strong>구독 결제 서비스</strong>
                    </p>
                </div>
                <div class=""></div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/mypage/subcribe.js"></script>
</html>