<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/notice/list.css">
    <title>너도먹고나도먹고</title>
</head>
<body>
    <div class="sub">
        <div>
            <div class="sub-layout-wrapper">
                <div class="sub-container">
                    <div class="customer-section">
                        <div class="customer-sidebar">
                            <div class="sidebar-menu-wrap">
                                <h2 class="customer-title">고객센터</h2>
                                <ul class="sidebar-menu-list">
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu active">
                                            <span>공지사항</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu">
                                            <span>자주하는 질문</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a href="" class="btn-menu">
                                            <span>1:1 문의</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><defs><path id="gfk9q0rhta" d="M1.657 1.657L9.657 1.657 9.657 9.657"></path></defs><g fill="none" fill-rule="evenodd"><g><g><g><g transform="translate(-339 -398) translate(0 386) translate(339 12) translate(4.69 6.343)"><use stroke="#999" stroke-linecap="round" stroke-width="1.8" stroke-linejoin="round" transform="rotate(45 5.657 5.657)" xlink:href="#gfk9q0rhta"></use></g></g></g></g></g></svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="customer-content">
                            <div class="notice-board">
                                <div class="notice-board-title">
                                    <h3 class="notice-title">공지사항</h3>
                                    <span class="notice-text">너도나도의 새로운 소식들과 유용한 정보들을 한곳에서 확인하세요.</span>
                                </div>
                                <table class="table-wrap">
                                    <colgroup>
                                        <col style="width: 10%;"/>
                                        <col style="width: 70%;"/>
                                        <col style="width: 10%;"/>
                                        <col style="width: 10%;"/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="no">번호</th>
                                            <th class="title">제목</th>
                                            <th class="author">작성자</th>
                                            <th class="created-date">작성일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-item">
                                            <td class="table-title">
                                                <button type="button" class="title-btn">복숭아 품종</button>
                                            </td>
                                            <td class="inquiry-writer">이*선</td>
                                            <td class="inquiry-date">2024.07.17</td>
                                            <td class="inquiry-status">답변완료</td>
                                        </tr>
                                        <tr class="inquiry-item">
                                            <td class="inquiry-title">
                                                <button type="button" class="title-btn">
                                                    <div class="inquiry-secret">
                                                        <span>비밀글입니다.</span>
                                                        <span class="icon"></span>
                                                    </div>
                                                </button>
                                            </td>
                                            <td class="inquiry-writer">이*환</td>
                                            <td class="inquiry-date">2022.07.31</td>
                                            <td class="inquiry-status">답변완료</td>
                                        </tr>
                                        <tr class="inquiry-item">
                                            <td class="inquiry-title">
                                                <button type="button" class="title-btn">복숭아 품종</button>
                                            </td>
                                            <td class="inquiry-writer">이*선</td>
                                            <td class="inquiry-date">2024.07.17</td>
                                            <td class="inquiry-status">답변완료</td>
                                        </tr>
                                        <tr class="answer-item">
                                            <td colspan="4">
                                            </td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>