<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../../static/css/admin/main/main.css" />
    </head>
    <body>
        <div id="bootpay">
            <div class="popup-manager" style="width: 0px;"></div>
            <aside id="bootpay-side">
                <div class="d-flex flex-column" id="side-wrapper">
                    <div class="side-header">
                        <div class="app-wrapper">
                            <div class="provider-name hover-spin">
                                <span class="comp-provider-name ">
                                    <span class="pn-name">부트페이 테스트</span>
                                </span>

                            </div>
                            <a class="app-name d-flex justify-content-between align-items-center " href="">
                                <span>테스트프로젝트</span>
                            </a>
                        </div>

                    </div>
                    <div class="menu-wrapper flex-grow-1">
                        <ul class="menu-list">
                            <li class="menu menu-item d-flex flex-column">
                                <a class="menu-btn d-flex w-100 " data-toggle="collapse" aria-expanded="false" aria-controls="menu-6109064136799700f1ebced6"href="">
                                    <i class="mdi mdi mdi-credit-card-plus-outline"></i>
                                    <span class="menu-name">PG 신청</span>
                                    <div class="icon-wrapper flex-grow-1 text-right">
                                        <i class="mdi mdi-chevron-down">

                                        </i>
                                    </div>
                                </a>
                                <!-- 바로밑 ul show 유무따라 소 카테고리가 열림 -->
                                <ul class="menu-sub-list collapse show" id="menu-6109064136799700f1ebced6">
                                    <li class="submenu menu-item ">
                                        <a class="boot-link "data-param="0" href="">
                                            -
                                            PG 신청하기
                                        </a>

                                    </li>
                                    <li class="submenu menu-item ">
                                        <a class="boot-link "data-param="0" href="">
                                            -
                                            신청내역
                                        </a>

                                    </li>

                                </ul>
                            </li>
                            <li class="menu menu-item d-flex flex-column">
                                <a class="menu-btn d-flex w-100"data-toggle="collapse" aria-expanded="true" aria-controls="menu-60934381367997007c4c3d2d"href="">
                                    <i class="mdi mdi mdi-tune-vertical">

                                    </i>
                                    <span class="menu-name">상품관</span>
                                    <div class="icon-wrapper flex-grow-1 text-right">
                                        <i class="mdi mdi-chevron-down">

                                        </i>
                                    </div>
                                </a>
                                <ul class="menu-sub-list collapse show" id="menu-60934381367997007c4c3d2d">
                                    <li class="submenu menu-item ">
                                        <a class="boot-link "data-param="1"href="">
                                            -
                                            구매 내역 목록
                                        </a>

                                    </li>
                                    <li class="submenu menu-item ">
                                        <a class="boot-link "data-param="1"href="">
                                            -
                                            상품 현황 목록
                                        </a>

                                    </li>

                                </ul>
                            </li>
                            <li class="menu menu-item d-flex flex-column">
                                <a class="boot-link menu-btn "href="">
                                    <i class="mdi mdi mdi-format-list-text">

                                    </i>
                                    <span class="menu-name">결제내역</span>

                                </a>
                                <ul class="menu-sub-list collapse "id="menu-60934308367997007c4c3d2c">

                                </ul>

                            </li>
                            <li class="menu menu-item d-flex flex-column">
                                <a class="menu-btn d-flex w-100"data-toggle="collapse" aria-expanded="true"aria-controls="menu-628c6e30d01c7e001ffdf398"href="">
                                    <i class="mdi mdi mdi-form-textbox-password">

                                    </i>
                                    <span class="menu-name">주문결제</span>
                                    <div class="icon-wrapper flex-grow-1 text-right">
                                        <i class="mdi mdi-chevron-down">

                                        </i>
                                    </div>
                                </a>
                                <ul class="menu-sub-list collapse show" id="menu-628c6e30d01c7e001ffdf398">
                                    <li class="submenu menu-item ">
                                        <a class="boot-link "data-param="3" href="">
                                            -
                                            링크페이 관리
                                        </a>

                                    </li>
                                    <li class="submenu menu-item ">
                                        <a class="boot-link "data-param="3" href="">
                                            -
                                            링크페이 관리
                                        </a>

                                    </li>
                                    <li class="submenu menu-item ">
                                        <a class="boot-link "data-param="3" href="">
                                            -
                                            링크페이 관리
                                        </a>

                                    </li>

                                </ul>

                            </li>
                            <li class="menu menu-item d-flex flex-column">
                                <a class="menu-btn d-flex w-100 "data-toggle="collapse"aria-expanded="false"aria-controls="menu-6284cdfecf9f6d001b046f3a"href="">
                                    <i class="mdi mdi mdi-credit-card-clock-outline">

                                    </i>
                                    <span class="menu-name" >자동 결제 관리</span>
                                    <div class="icon-wrapper flex-grow-1 text-right">
                                        <i class="mdi mdi-chevron-right">

                                        </i>

                                    </div>
                                </a>
                                <ul class="menu-sub-list collapse  show" id="menu-6284cdfecf9f6d001b046f3a">
                                    <li  class="submenu menu-item ">
                                        <a class="boot-link "data-param="4"href="">
                                            -
                                            빌링키 관리
                                        </a>

                                    </li>
                                    <li  class="submenu menu-item ">
                                        <a class="boot-link "data-param="4"href="">
                                            -
                                            빌링키 관리
                                        </a>

                                    </li>


                                </ul>

                            </li>
                        </ul>
                    </div>

                </div>
            </aside>
            <div id="bootay-main"class="has-menu">
                <div id="header-wrapper">
                    <div id="bootpay-header" class="d-flex trial-mode">
                        <div class="flex-grow-1"></div>
                        <div>
                            <div class="header-menu-group d-flex">
                                <a class="boot-link mr-3" target="_blank" href="">
                                    <div class="header-menu-btn" data-for="f93d1e6f-6299-40e1-87f2-df4223e38459" data-toggle="tooltip" data-custom-class title data-original-title="부트페이 개발메뉴얼">
                                     <i class="mdi mdi-text-box-outline">

                                     </i>    

                                    </div>
                                </a>
                                <a class="boot-link mr-3" href="">
                                    <div class="header-menu-btn " data-for="8598bfd3-1b35-4de3-a48f-9d6654dc0268" data-toggle="tooltip" data-custom-class title="공지사항">
                                        <i class="mdi mdi-bullhorn-variant-outline">

                                        </i>

                                    </div>
                                </a>
                                <div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                
            </div>
        </div>
    </body>
    <script src="../../../static/js/admin/main/main.js"></script>
</html>
