/* reset */
*, :after, :before, legend, td, th {
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}

button {
    cursor:pointer;
    background-color: transparent;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
  list-style: none;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

img {
    width: 100%;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

/* 장바구니 */

.cart-wrap {
    padding-bottom: 80px;
    background-color: #f2f5f8;
}

.cart {
    width: 1050px;
    margin: 0 auto;
}

.title {
    padding: 50px 0 48px;
    text-align: center;
}

.title>p {
    line-height: 36px;
    font-weight: 600;
    font-size: 28px;
}

.cart-body {
    display: flex;
    justify-content: center;
    letter-spacing: -0.5px;
}

.cart-product {
    position: relative;
    width: 565px;
    margin-right: 20px;
}

.total {
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 16px;
}

.all-seclet {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    pointer-events: auto;
    padding: 16px;
}

.select-label {
    z-index: 1;
    word-break: break-all;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.select-input {
    appearance: none;
    position: absolute;
    width: 1px;
    height: 1px;
    border: none;
    opacity: 0;
    overflow: hidden;
}

.checkbox-div {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 4px;
    border: 2px solid #cbd1d7;
    background-color: #fff;
}

.select-label>p {
    font-weight: 400;
    font-size: 16px;
}

.all-seclet-button {
    border-width: 1px;
    border-style: solid;
    z-index: 1;
    overflow: hidden;
    transition: all .1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 6px;
    padding-right: 12px;
    padding-left: 12px;
    height: 32px;
    border-color: #dfe4eb;
    background-color: #fff;
    color: #222;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.a-button {
    background-color: #fff;
}

.a-button>span {
    position: relative;
}

.a-button-wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    height: 62px;
    padding: 6px 16px 16px;
}

.possibility-button {
    white-space: nowrap;
    padding: 10px 12px;
    border-radius: 20px;
    height: 40px;
    background-color: rgb(215, 236, 219);
    color:  rgb(50, 116, 63);
}

.possibility-button>p, .impossibility>p {
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
}

.impossibility {
    margin-left:8px;
    white-space: nowrap;
    padding: 10px 12px;
    border-radius: 20px;
    color: #848f9a;
    height: 40px;
    background-color: #f2f5f8;
}