/* 공통 */

*, :after, :before, legend, td, th {
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

html, body, span, div, button, input, label, select, option, textarea {
    font-family: "Pretendard","Pretendard Variable",-apple-system,BlinkMacSystemFont,system-ui,Roboto,"Helvetica Neue","Segoe UI","Apple SD Gothic Neo","Noto Sans KR","Malgun Gothic","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;
}

a, abbr, acronym, address, applet, article,
 aside, audio, b, big, blockquote, body, 
 button, canvas, caption, center, cite, 
 code, dd, del, details, dfn, div, dl, dt, 
em, embed, fieldset, figcaption, figure, 
footer, form, h1, h2, h3, h4, h5, h6, header, 
hgroup, html, i, iframe, img, ins, kbd, 
label, legend, li, mark, menu, nav, object, 
ol, output, p, pre, q, ruby, s, samp, 
section, small, span, strike, strong, sub, 
summary, sup, table, tbody, td, tfoot, th, 
thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
}

body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}

canvas, img, video {
    max-width: 100%;
}

img, legend {
    border: 0;
    vertical-align: top;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

svg:not(:root) {
    overflow: hidden;
}

button {
    border-radius: 0;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
    background-color: transparent;
    border: none;
}

.blind::before {
    display: block;
    width: 0;
    height: 0;
    content: '\00a0';
    font-size: 0;
}

/* 공통 에러 메세지 */
.error {
    padding: 10px 0px;
}

.error-message {
    font-size: 13px;
    color: rgb(240, 63, 64);
    margin-top: -4px;
}


/* 마이 페이지 시작 */

/* 목록 */
.mypage {
    position: relative;
    min-width: 1050px;
    background-color: rgb(242, 245, 248);
}

.mypage-order {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    justify-content: center;
    padding: 50px 0px 80px;
    margin: 0px auto;
}

.mypage-list {
    overflow: hidden;
    width: 375px;
    border-radius: 16px;
}

.mypage-list-inner {
    padding-bottom: 0px;
    background-color: rgb(242, 245, 248);
}

.mypage-list-inner .top-info-section {
    margin-bottom: 8px;
    padding: 24px 20px 20px;
}

.mypage-list-inner > div {
    background-color: rgb(255, 255, 255);
}

.welcom-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grade-name {
    display: flex;
    align-items: center;
    min-width: calc(100% - 100px);
}

.hello-text {
    font-size: 20px;
    font-weight: 600;
    color:  rgb(50, 116, 63);
    line-height: 25px
}

.user-name {
    font-weight: 500;
    font-size: 20px;
    overflow: hidden;
    padding-left: 5px;
    line-height: 28px;
    letter-spacing: -0.2px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.often {
    margin: 0px;
    padding: 20px 25px;
}

.often-text {
    width: 100%;
    padding: 12px 0px 6px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(181, 181, 181);
}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.menu-wrap .menu-link {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 18px;
    cursor: pointer;
    flex-direction: row;
    min-width: 100%;
    font-weight: 500;
    height: 54px;
    padding: 16px 0px;
    font-size: 16px;
}

.menu-wrap .menu-link > svg {
    margin: 0px 8px 0px 0px;
} 

.menu-list {
    display: flex;
    gap: 2px;
}

.active.menu-link {
    color: rgb(50, 116, 63);
}



/* 페이지 위로! */

/* scroll-top */
.scroll-to-top {
    position: fixed;
    z-index: 10;
    right: 31px;
    width: 58px;
    height: 58px;
    cursor: pointer;
    transition: opacity 0.5s, bottom 0.5s;
    opacity: 1;
    bottom: 15px;
    cursor: pointer;
}

.scroll-top-btn {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHQAAAB0CAQAAAD+k96sAAAAAXNSR0IArs4c6QAABkxJREFUeNrtnV9oW1UYwMdgT2PPe9tDH8fezpyTgcJ8kHYdIg6EIYoMhE2EgMJ8GOKoyEqrIIItiOzBB90QVKy0ilJhtsGHdqUgvoiFfl+Spg2N/bM1aZr8fMhd0yQ3Tdqdc3Oz229vyYXs13PO9/9899ChAzmQPQiH013SrTEdklGdkFmd04zkJa8ZnZNZnZBRHdKYdKe7ONyRgEvHpEcHdUpyQov/cjqlg9KzdKxDEBdOaZ/GtVD+7ysplsiyzgZ5CmxRBKDIFgXybLBOliVSqAesBY1r38KpECOmj2tMpx8BLrJCjhKtSokcKyxWgKc1lj4eOkg9ryPlVUyQ3ROgH3CWxKPVHdHz4YHs1Xh5FTM8xJY8JOOtrsa1t/2Ql3RGEJKseqfPphRZJVmGvS8vtw0ydVLHy5Brj7FVm2/ltUew46mTwevWo9Ivm0KSdYKQ9TLspvQvHA0QU3p0XlCyDleyfmWzKILOS08wvs4RGdCSkGaToGWTNIKWZIAjjjGTJzQuKGu0S9bK6xpPnnCImbgoy0KKPO2UPCkEWU5cdIV5TYtCJsBz2fi8ZhC0mLjmQgHdFIRVwiKrZVfxpuVgS4cF5QFhkgfl0zpsLcDjsN4RlA3CJhtl1DuWUHVYSLRZATVWTAkEHbZ0NjWkmGVUtXFWE9fCuWnrN/BjaeDERS1KyFSQv1oStLhvu5o8IcthMihNjc3yvrwljmhcyNApkkHQ+D58YBkQUiHwglr3llIIMrD3QKwUZl3bSP9qaU9B3MJRnZc2Rij7j2wEnd9DaC79QppOlDSC9LecC5JNbUNYbSc0V2SzxdySjgtZOlWyCDreUgJTSHaQtq3XvkkEvdQcdEYCyuy5yxgKOtM06y4k6XRJIjTJ7mu8E82Kr5mJ71oq6uzzWXNOG5endKRTnPhWnHwdaVzfLKiDUlG9KN/xn9NfKKJooUF9VWPBRCuTPIOhm4T7aCbmDzotFuubjeRXnsZgMPSScvg7DxF02rf3QBz/jQF+5IyHaTC8yKLD30og+PRCaJ97x+9rTm9DPoXB8BJLbp3BPl8LmnOK+eX2OhoMr3EWg+ESy45+L+dnTZeOaUGdWtBPPcwr/ILBEON377S+4mgnlVC0UNO3pBfE4Xkp8ZGH+RYb3PNA4TcP9bIj672IoBeqQQeFFUeYW9zwMN+lADtA4WdPOb3qxPFcQdDBatApVyd0k3c8zPc9Z2QnKPzkqaXXHeSPcwg6VVVGkpybE7rBVQ/z1vZn1aDwg6eLr1ivCJRQJLejBJXuEifGe403PMzPdnxaCwrfek+9aR01hZDuqiTDusWBPVvmsgdwu+rzelD4xnvyquUU6xKCdFd5ubZVfJqXMRhOc7fmGz9Q+MpDfdtqWi5b7fHqkO30idCLwXCGkbrv/EHhtocao2A3rTJU2bpjYvV0/MMLGAxnGff5thEofLFthrasKUNBxiorOikWz8ZfnMdgOEfc9/vGoPC5h/qepbg4j6CTlRWdFWvbZYpnMRieY6bBE7uBVlzFG1bMXQFBZisrOieWNotyDoPhef5u+MzuoPCxh/qBFa9M0LkKaEYsbZXvMRi6mdvlmWagcMtD/cNCSkXQTGXr5sWad3md600C+Oag8CEGwz0r+l/yDkBbkVZA4Z6F9awDtbd17YHaygZWbV17yihsoDXKyKZ5CRdorXmZkAD7FYIEzSPoRGVFRyXA7rAgQTcQZNShUx8W0Bqn3kWYFg7QmjDNTeAdBtCawNtVKqX9oDWpFHfJsfaC1iXHXKY72wlal+50m8BuH6hfAttpSaJdoIsINU2Q7otMwYP6FpmCKBsGDZrzb8IJohAcLGiDQnAwpf0gQRuU9oNq1ggKtGGzRnDtN8GA7tJ+E1RDVRCguzZUBdUiFwTori1yQTU9/stpDJ84taBNmh6DamP9k7tOMxpN21gj1Jj8xLSa34/I5YGWJqtE5DpIhC74RObKVoQu4UXmWmWELspG6OpzZC6zR2g8QYQGTkRohEiEhsJEaMxPZAY3RWgUV6SGq0VoXF6EBiBGaKRlhIaURmrsbIQGCQc+GnqmheknB8O+bcJGYXz7jvrqkz+Qf2cvxBP/ioWavqUL+3lphl7omJdm1AZ4269BGdPJutegTMpYh78G5UDaJv8DikERzXjOPr0AAAAASUVORK5CYII=) 50% 50% / 58px 58px no-repeat;
}

/* 최근상품 */
.recently-viewed-section {
    position: absolute;
    top: 70px;
    right: 20px;
    bottom: -236px;
    z-index: 1;
    margin-top: 236px;
}

.recently-viewed {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.3px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
}

.recently-viewed .prev,
.recently-viewed .next {
    width: 100%;
    cursor: pointer;
}

.recently-viewed .title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.recently-viewed-scroll {
    max-height: 209px;
    overflow: hidden;
    margin-top: 6px;
}

.recently-viewed-list {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    transition: top 0.2s;
}

.product-image a {
    display: block;
    width: 60px;
    height: 80px;
    margin: 2px 0px;
    overflow: hidden;
}

.product-image a img {
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.modify {
    overflow: hidden;
    width: 650px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

.modify-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 25px 0px 20px;
    align-items: flex-end;
}

.modify-tilte {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 28px;
}

.modify-body {
    overflow: hidden;
    padding: 7px 20px 20px 20px;
}

.eMail {
    display: inline-flex;
    width: 100%;
    padding: 10px 20px;
}

.eMail-title {
    width: 139px;
    padding-top: 12px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}

.eMail-input-wrap {
    flex: 1 1 0%;
    padding: 0px;
    position: relative;
    height: 48px;
}

.eMail-input {
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}


.gendercontainer{
    justify-content: flex-start;
    flex-direction: row;
    display: inline-flex;
    width: 100%;
    padding: 10px 20px;
}

.genderchoose-div {
    display: inline-flex;
}

.genderchoose{
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0px 9px;
    cursor: pointer;
    margin-right: 60px;
}

.genderbutton{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
}

.gendercontainer>label>span{
    font-size: 14px;
}

.genderchoose {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.genderbutton {
    display: none;
}

.gender-sapn {
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}

.gender-div {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}

.genderbutton:checked + .gender-sapn .gender-div {
    background-color: rgb(50, 116, 63);
}

.gendertext,
.gendernonetext {
    font-size: 16px;
    color: #333;
}

.gendernonetext{
    position: relative;
    font-size: 16px;
    margin-left: 12px;
}

.gendertext{
    position: relative;
    font-size: 16px;
    margin-left: 12px;
}

.brith-wrap {
    display: inline-flex;
    width: 100%;
    padding: 10px 20px;
}

.birthcontainer{
    height: 44px;
    display: flex;
    align-items: center;
    width: 431px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    padding: 0px 15px;
    margin-left: 76px;
}

.birthlan{
    padding-bottom: 0px;
}

.birthline{
    height: 100%;
}

.birthinputcontainer{
    position: relative;
    height: 40px;
}

.birthlan input{
    text-align: center;
    font-size: 14px;
    border: none;
}

.birthinput{
    width: 100%;
    height: 40px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.birthline::after{
    content: "/";
    font-size: 14px;
    color: rgb(204, 204, 204);
    text-align: center;
    line-height: 40px;
}

.modify-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid rgb(244, 244, 244)
}

.withdrawal {
    width: 120px;
    height: 44px;
    margin: 0px 3px;
    border-radius: 3px;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    color: rgb(50, 116, 63);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(50, 116, 63);
    cursor: pointer;
}

.withdrawal-span {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}

.modify-button {
    width: 120px;
    height: 44px;
    margin: 0px 3px;
    border-radius: 3px;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color:rgb(50, 116, 63);
    border: 0px none;
    cursor: pointer;
}

.modify-button-span {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;    
}